@import "../../styles/abc-mixins.scss";
@import "../../styles/abc-animations.scss";
@import "./abc-form-element.constants.scss";

.abc-form-element-container {
    .abc-form-element-material-wrapper {
        .abc-form-element-label {
            max-width: 100%;
            pointer-events: none;
            position: absolute;
            top: 0;
            @include warpSpeedAhead();
            @include transition(transform ease 200ms);

            .abc-form-element-label-text {
                display: inline-block;
                max-width: 100%;
                @include textOverflow();
            }

            &.abc-dir-ltr {
                transform-origin: top left;
                left: 0;
            }

            &.abc-dir-rtl {
                transform-origin: top right;
                right: 0;
            }
        }
    }
}