<div class="search-posts-dialog">
    <div *ngIf="responseLoading" class="search-dialog-loader">
        Loading...
    </div>
    <div class="search-form-container">
        <div class="search-form">
            <mat-form-field appearance="fill">
                <mat-label>Search...</mat-label>
                <input matInput [(ngModel)]="searchQuery" placeholder="Enter your search query here" (keydown.enter)="findSearchResults()">
            </mat-form-field>
        </div>
        <div class="search-button">
            <button type="submit" class="circular-button" [disabled]="responseLoading" (click)="findSearchResults()">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <mat-dialog-content>
        <div *ngIf="!responseLoading && resultsFound">
            <div class="results-found-text">
                <strong>{{postsData.length}}</strong> result(s) found
            </div>
            <div class="post-search-result-container" *ngFor="let postData of postsData">
                <post-card [post]="postData" [hideDescription]="true" (click)="closeDialog()"></post-card>
            </div>
        </div>
        <div *ngIf="!responseLoading && !resultsFound">
            <div *ngIf="!searchQueryTooShort && !submittedOnce" class="search-form-intro-text">
                Type something into the search bar above and then press Enter or click on the Search Button.
            </div>
            <div *ngIf="!searchQueryTooShort && submittedOnce" class="search-form-intro-text">
                We couldn't find any results for the search term you entered. Please try a different term.
            </div>
            <div *ngIf="searchQueryTooShort" class="search-form-intro-text">
                Please type in a minimum of 3 characters into the search bar. Then press Enter or click on the Search
                Button.
            </div>
        </div>
    </mat-dialog-content>
</div>