<div class="post-titles-container">
    <div class="post-titles-table">
        <div class="post-title-item" *ngFor="let postData of postsData; let postIndex = index">
            <ng-container *ngIf="isDesktopViewPort || postIndex != 0">
                <div class="post-item-cell {{postData['post-colour']}}" [ngClass]="{'post-item-cell-active': selectedPostIndex == postIndex}" (click)="selectPost(postIndex)">
                    <div class="post-image-container uk-cover-container" *ngIf="isMobileViewport">
                        <img [src]="postData['post-media']" alt="" uk-cover>
                    </div>
                    <div class="post-item-main">
                        <span class="post-item-category" [innerHTML]="postData['post-category']"></span>
                        <span class="post-item-date" [innerHTML]="postData['post-date'] | date: 'd MMMM'"></span>
                    </div>
                    <div class="post-item-text" [innerHTML]="postData['post-title']"></div>
                </div>
            </ng-container>
        </div>
    </div>
</div>