@import 'variables.scss';

$blog-content-width: 800px;

.wa-blog-post-hero-container {
    .wa-blog-post-hero-wrapper {
        position: relative;

        .wa-blog-post-hero-content {
            padding: 8rem 0;

            @media only screen and (max-width: 920px) {
                padding-top: 4rem;
            }

            .wa-blog-post-primary-category {
                display: inline-block;
                text-transform: uppercase;
                font-size: 1.6rem;
                font-weight: $font-weight-medium;
                margin-bottom: 1rem;
                letter-spacing: 2px;

                @media only screen and (max-width: 920px) {
                    font-size: 1.2rem;
                }
            }

            .wa-blog-post-hero-title {
                letter-spacing: -2px;
                font-size: 5rem;
                line-height: 6.5rem;
                max-width: $blog-content-width;
                text-transform: capitalize;

                @media only screen and (max-width: 920px) {
                    font-size: 2.8rem;
                    line-height: 3.2rem;
                }
            }
        }
    }
}

.wa-blog-post-body-container {
    .wa-blog-post-body-wrapper {
        .wa-blog-post-body-content {
            padding: 2.5rem 0;
            max-width: $blog-content-width;
            position: relative;
            margin-top: -8rem;

            .wa-blog-post-hero-image {
                max-width: $blog-content-width;
                height: 45rem;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                margin-bottom: 3rem;

                @media only screen and (max-width: 920px) {
                    height: 20rem;
                }
            }

            .wa-blog-post-info {
                font-size: 1.4rem;
                padding-bottom: 2rem;
                margin-bottom: 3rem;
                border-bottom: 1px solid $border-color;
                display: flex;
                justify-content: space-between;

                .wa-blog-post-author {
                    font-size: 2rem;
                    line-height: 1.4;
                    display: flex;
                    align-items: center;

                    .wa-profile-dp {
                        height: 3rem;
                        width: 3rem;
                        border-radius: 50%;
                        margin-left: 0.5rem;
                    }
                }

                .wa-blog-post-date {
                    text-transform: uppercase;
                }
            }

            .wa-blog-post-contributors-wrapper {
                margin: 5rem 0;

                .wa-blog-post-contributors {
                    display: flex;
                    flex-wrap: wrap;
                    
                    .wa-blog-post-contributor {
                        font-size: 1.6rem;
                        font-weight: $font-weight-medium;
                        padding: 2rem;
                        margin-right: 1.5rem;
                        text-align: center;
                        line-height: 3rem;
                    }
                }
            }

            .wa-blog-post-starheads-wrapper {
                margin: 5rem 0;

                .wa-blog-post-starheads {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: stretch;

                    .wa-blog-post-starhead {
                        width: calc(33.333% - 1rem);
                        margin-bottom: 1rem;
                        margin-right: 1rem;

                        .wa-starhead-card {
                            padding-bottom: 1rem;
                            font-size: 1.4rem;
                            font-weight: $font-weight-medium;

                            .wa-starhead-card-header {
                                height: 8rem;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 0 2rem;

                                .wa-starhead-card-image {
                                    border-radius: 100%;
                                    border: 5px solid #EEEEEE;
                                    background-color: #FFFFFF;
                                    position: relative;
                                    height: 10rem;
                                    width: 10rem;
                                    top: 3rem;
                                }

                                .wa-starhead-card-position {
                                    padding: 0.5rem;
                                    background-color: #FFFFFF;
                                    font-size: 1.6rem;
                                }
                            }

                            .wa-starhead-card-meta {
                                display: flex;
                                align-items: center;
                                padding-left: 15rem;
                                padding-right: 2rem;

                                .wa-starhead-card-meta-item {
                                    padding: 1rem;

                                    .wa-starhead-card-meta-item-heading {
                                        color: $color-code-lighttext;
                                        font-size: 1.2rem;
                                    }

                                    .wa-starhead-card-meta-item-value {
                                        font-size: 1.8rem;
                                    }
                                }
                            }

                            .wa-starhead-card-info-row {
                                border-top: 1px solid $border-color;
                                padding: 1rem 2rem;

                                .wa-starhead-card-info-row-heading {
                                    text-transform: uppercase;
                                    font-size: 1.2rem;
                                    color: $color-code-blue;
                                    line-height: 1.5;
                                }

                                .wa-starhead-card-info-row-value {
                                    display: flex;
                                    align-items: center;
                                    line-height: 2rem;
                                    
                                    img {
                                        width: 2rem;
                                        margin-left: 1rem;
                                    }
                                }

                                &.wa-starhead-card-playername {
                                    line-height: 1.5;
                                    border-bottom: 1px solid $color-code-blue;

                                    .wa-starhead-card-playername-small {
                                        font-size: 1.2rem;
                                    }

                                    .wa-starhead-card-playername-large {
                                        font-size: 1.6rem;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .wa-blog-post-screenshots-wrapper {
                margin: 5rem 0;

                .wa-blog-post-screenshots {
                    display: flex;
                    flex-wrap: wrap;

                    @media only screen and (max-width: 920px) {
                        flex-direction: column;
                    }

                    .wa-blog-post-screenshot {
                        flex: 1;
                        background-size: cover;
                        background-position: center center;
                        min-width: 20rem;
                        height: 20rem;
                    }
                }
            }

            .wa-blog-post-download-wrapper {
                text-align: right;

                .wa-blog-post-download-link-type {
                    padding: 1rem;
                    font-size: 1.4rem;
                    font-weight: $font-weight-light;
                }
            }

            .wa-blog-post-video-wrapper {
                position: relative;

                &:after {
                    padding-top: 56.25%;
                    display: block;
                    content: '';
                }

                .wa-blog-post-video-iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.wa-blog-post-disqus-container {
    .wa-blog-post-disqus-wrapper {
        padding-top: 5rem;
        padding-bottom: 10rem;

        .wa-blog-post-disqus-thread {
            padding: 3rem;
            max-width: $blog-content-width;
        }
    }
}