@import 'variables.scss';

.wa-blog-post-hero-container {
    background-color: #0B1218;
    background-image: url('/assets/images/hero-banner/hero-banner-min.jpg');
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20rem;
    margin-bottom: 25rem;
    color: $color-code-white;

    .wa-blog-post-hero-wrapper {
        position: relative;
        min-height: calc(100vh - 35rem);

        .wa-blog-post-hero-content {
            .wa-blog-post-hero-title {
                .wa-title-highlight {
                    font-size: 7.5rem;
                    letter-spacing: 0.5rem;
                    font-style: italic;;
                }
            }

            .wa-blog-post-hero-image {
                position: absolute;
                top: calc(100% - 20rem);
                max-width: 800px;
                width: calc(100% - 4rem);
                height: 45rem;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }
}

.wa-blog-post-body-container {
    .wa-blog-post-body-wrapper {
        .wa-blog-post-body-content {
            padding: 2.5rem 0;
            max-width: 800px;
        }
    }
}