<site-loader *ngIf="responseLoading" [fullScreenLoader]="true"></site-loader>
<div *ngIf="!responseLoading" class="blog-posts-page-container">
    <div class="blog-posts-page-header">
        Blog
    </div>
    <div class="blog-posts-list-container">
        <div *ngFor="let post of (blogPostsArray | slice : startPostIndex : endPostIndex); let postIndex = index">
            <div class="blog-post" *ngIf="postIndex % numberOfPostsPerRow == 0">
                <div class="post-card-container"
                    *ngFor="let num of [].constructor(numberOfPostsPerRow); let columnIndex = index">
                    <post-card [post]="blogPostsArray[postIndex + startPostIndex + columnIndex]"></post-card>
                </div>
            </div>
        </div>
        <div class="pagination-controls">
            <a *ngIf="startPostIndex != 0" class="button-link primary-button-link" href="javascript: void(0)"
                (click)="fetchSinglePageResults(currentPageNumber - 1)">
                <i class="fas fa-chevron-left"></i>
            </a>
            <ng-container *ngIf="!isMobileViewPort">
                <a *ngFor="let pageNumber of pageNumbers; let pageIndex = index" class="button-link secondary-button-link" [ngClass]="{'highlight-outline': pageNumber == currentPageNumber}" href="javascript: void(0)" (click)="fetchSinglePageResults(pageNumber)">
                    {{pageNumber}}
                </a>
            </ng-container>
            <a *ngIf="endPostIndex != (numberOfPosts - 1)"  class="button-link primary-button-link" href="javascript: void(0)"
                (click)="fetchSinglePageResults(currentPageNumber + 1)">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>