@import '../../../variables.scss';

.blog-posts-page-container {
    .blog-posts-page-header {
        background-color: $site-colour-second-primary;
        color: $site-colour-white;
        font-size: 36px;
        font-weight: bold;
        padding: 60px;
    }

    .blog-posts-list-container {
        padding: 0 60px;
        width: calc(100% - 120px);

        .blog-post {
            width: 100%;
            margin: 20px 0;
            display: inline-table;

            .post-card-container {
                display: table-cell;
                width: 33.33%;

                ~.post-card-container {
                    padding-left: 20px;
                }
            }
        }

        .pagination-controls {
            text-align: center;
            padding: 20px 0;

            a {
                ~a {
                    margin-left: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {

}