.fut-squad-player-card {
    display: inline-block;
    position: relative;
    height: 180px;
    width: 140px;
    background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-common_gold.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Dosis', sans-serif;

    &.fifa-19 {
        &.gold {
            .fut-squad-player-name, .player-side-info {
                color: #443A22;
            }
            background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-common_gold.png');
        }
        &.silver {
            .fut-squad-player-name, .player-side-info {
                color: #26292A;
            }
            background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-common_silver.png');
        }
        &.bronze {
            .fut-squad-player-name, .player-side-info {
                color: #2B2217;
            }
            background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-common_bronze.png');
        }
        &.rare {
            &.gold {
                .fut-squad-player-name, .player-side-info {
                    color: #46390C;
                }
                background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-rare_gold.png');
            }
            &.silver {
                .fut-squad-player-name, .player-side-info {
                    color: #303536;
                }
                background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-rare_silver.png');
            }
            &.bronze {
                .fut-squad-player-name, .player-side-info {
                    color: #3A2717;
                }
                background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-rare_bronze.png');
            }
        }
        &.totw, &.totw.rare {
            .player-side-info {
                background: linear-gradient(to bottom, rgba(15, 13, 8, 0) 0, rgba(15, 13, 8, 0) 8%, rgba(15, 13, 8, 0.6) 43%, rgba(15, 13, 8, 0.6) 56%, rgba(15, 13, 8, 0.6) 76%, rgba(15, 13, 8, 0) 100%);
            }
            &.gold {
                .fut-squad-player-name, .player-side-info {
                    color: #E9CC74;
                }
                background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-totw_gold.png');
            }
            &.silver {
                .fut-squad-player-name, .player-side-info {
                    color: #B0BCC8;
                }
                background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-totw_silver.png');
            }
            &.bronze {
                .fut-squad-player-name, .player-side-info {
                    color: #BB9266;
                }
                background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-totw_bronze.png');
            }
        }
        &.rb {
            .fut-squad-player-name, .player-side-info {
                color: #B5FA10;
            }
            background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-recordbreaker.png');
        }
    }

    .fut-squad-player-image {
        position: absolute;
        bottom: 27.5%;
        right: 8px;
        width: 65%;
        height: 50%;
        text-align: center;
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;

        &.dynamic-image {
            bottom: 10%;
            right: 10px;
            width: 75%;
            height: 75%;
        }
    }

    .fut-squad-player-name {
        position: absolute;
        bottom: 30px;
        left: 0;
        text-align: center;
        width: 100%;
        color: #46390C;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
    }

    .player-side-info {
        display: inline-block;
        width: 25%;
        position: absolute;
        top: 15%;
        left: 10%;
        height: 50%;
        padding: 10px 0;
        color: #46390C;
        text-align: center;

        .fut-squad-player-rating, .fut-squad-player-position {
            font-size: 20px;
            line-height: 21px;
            font-weight: 600;
        }

        .fut-squad-player-nationality {
            margin-top: 5px;
        }

        .fut-squad-player-club {
            width: 100%;
            background-size: contain;
        }
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}