<site-loader *ngIf="responseLoading" [fullScreenLoader]="true"></site-loader>
<div class="site-admin-portal">
    <div class="site-admin-portal-header">Create a new post</div>
    <div class="portal-body">
        <div class="blog-post-form">
            <form [formGroup]="blogPostForm" autocomplete="off">

                <mat-form-field id="postTemplate" appearance="fill">
                    <mat-label>Post Template</mat-label>
                    <mat-select formControlName="postTemplate" disableOptionCentering="true">
                        <mat-option value="fifa19:starheads">FIFA 19 Star Heads</mat-option>
                        <mat-option value="fifa19:totw">FIFA 19 Team of the Week</mat-option>
                        <mat-option value="fifa19:tots">FIFA 19 Team of the Season</mat-option>
                        <mat-option value="fifa16:starheads">FIFA 16 Star Heads</mat-option>
                    </mat-select>
                </mat-form-field>

                <site-admin-custom-starheads
                    *ngIf="blogPostForm.controls.postTemplate.value == 'fifa16:starheads'
                        || blogPostForm.controls.postTemplate.value == 'fifa19:starheads'">
                </site-admin-custom-starheads>

                <site-admin-fut-squad
                    *ngIf="blogPostForm.controls.postTemplate.value == 'fifa19:totw'
                        || blogPostForm.controls.postTemplate.value == 'fifa19:tots'">
                </site-admin-fut-squad>

            </form>
        </div>
        <div class="blog-post-output">
            <div class="file-url-container">
                <mat-form-field appearance="fill">
                    <mat-label>Unique File Name</mat-label>
                    <textarea id="uniqueFileURL" matInput cdkTextareaAutosize cdkTextareaAutosize="true"
                        [(ngModel)]="uniqueFileURL" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1"
                        spellcheck="false"></textarea>
                    <i matSuffix class="fas fa-link"></i>
                </mat-form-field>
                <a class="button-link primary-button-link link-icon-right" href="javascript: void(0)"
                    (click)="copyUniqueFileURL()">
                    Copy File Name <i class="fas fa-copy"></i>
                </a>
            </div>
            <div class="text-area-container" align="end">
                <mat-form-field appearance="fill">
                    <mat-label>Single Post JSON Output</mat-label>
                    <textarea id="singlePostJSON" matInput cdkTextareaAutosize cdkTextareaAutosize="true"
                        [(ngModel)]="blogPostJSON" cdkAutosizeMinRows="20" cdkAutosizeMaxRows="20"
                        spellcheck="false"></textarea>
                    <i matSuffix class="fas fa-indent"></i>
                </mat-form-field>
                <a class="button-link primary-button-link overlay-button-link circular-button-link"
                    href="javascript: void(0)" (click)="copySinglePostJSON()">
                    <i class="fas fa-copy"></i>
                </a>
            </div>

            <div class="text-area-container" align="end">
                <mat-form-field appearance="fill">
                    <mat-label>Blog Posts List JSON Output</mat-label>
                    <textarea id="blogPostsListJSON" matInput cdkTextareaAutosize cdkTextareaAutosize="true"
                        [(ngModel)]="blogPostListJSON" cdkAutosizeMinRows="20" cdkAutosizeMaxRows="20"
                        spellcheck="false"></textarea>
                    <i matSuffix class="fas fa-indent"></i>
                </mat-form-field>
                <a class="button-link primary-button-link overlay-button-link circular-button-link"
                    href="javascript: void(0)" (click)="copyBlogPostsListJSON()">
                    <i class="fas fa-copy"></i>
                </a>
            </div>
        </div>
    </div>
</div>