@import '../variables.scss';

.site-admin-portal {
    padding: 40px;
    display: block;

    .site-admin-portal-header {
        font-size: 32px;
        font-weight: 800;
        color: $site-colour-blue;
        margin-bottom: 40px;
    }

    .portal-body {
        display: inline-table;
        width: 100%;

        .blog-post-form {
            vertical-align: top;
            display: table-cell;
            width: 50%;
            padding-right: 40px;

            mat-form-field {
                display: block;
                width: 100%;

                &#postDate, &#postCategory {
                    display: inline-block;
                    width: calc(50% - 10px);
                }

                &#postCategory {
                    margin-left: 20px;
                }
            }

            .player-starhead-info {
                padding: 20px;
                border-radius: 5px;
                margin-bottom: 20px;
                background: #E4E4E4;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, .06);

                .player-starhead-info-header {
                    font-weight: 800;
                    font-size: 18px;
                    color: $site-colour-blue;
                    padding-bottom: 20px;
                }

                .player-starhead-info-row {
                    display: inline-table;
                    width: 100%;
                    padding: 10px 0;

                    .player-starhead-form {
                        display: table-cell;
                        width: calc(100% - 45px);

                        .player-league, .player-club, .player-screenshot, .player-nationality {
                            display: inline-block;
                            width: calc(50% - 10px);
                        }
        
                        .player-club, .player-screenshot {
                            float: right;
                        }
                    }

                    .player-starhead-form-controls {
                        display: table-cell;
                        width: 45px;
                        text-align: right;

                        a {
                            color: $site-colour-pink;
                            font-size: 28px;
                        }
                    }

                    ~.player-starhead-info-row {
                        padding-top: 30px;
                        border-top: 1px solid rgba(0, 0, 0, 0.05);
                    }
                }

                .add-another-player-link {
                    margin-bottom: 10px;
                    text-align: right;
                }
            }

            .fut-squad-info {
                padding: 20px;
                border-radius: 5px;
                margin-bottom: 20px;
                background: #E4E4E4;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, .06);

                .fut-squad-info-header {
                    font-weight: 800;
                    font-size: 18px;
                    color: $site-colour-blue;
                    padding-bottom: 20px;
                }

                mat-form-field {
                    display: inline-block;
                    width: 150px;
                    margin-right: 20px;
                }
            }
        }

        .blog-post-output {
            vertical-align: top;
            display: table-cell;
            width: 50%;

            .file-url-container {
                mat-form-field {
                    width: 380px;
                }

                a {
                    margin: 10px 0;
                    float: right;
                }
            }

            .text-area-container {
                position: relative;

                mat-form-field {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}