@import "../../../variables.scss";

@media only screen and (min-width: 800px) {
    .site-loader-container {
        width: 100%;
        text-align: center;
        color: $site-colour-primary;
    
        .site-loader-spinner {
            margin-top: 250px;
        }
    
        .site-loader-text {
            font-weight: 300;
            font-size: 28px;
            margin-top: 30px;
            margin-bottom: 250px;
        }
    }

    .site-fs-loader {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1000;
        background: $site-colour-white;
        top: 0;
        left: 0;

        mat-spinner {
            top: calc(50% - 100px);
            left: calc(50% - 50px);
        }

        .site-loader-text {
            font-weight: bold;
            font-size: 28px;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: calc(50% - 50px);
            color: $site-colour-primary;
        }
    }
}
@media only screen and (max-width: 800px) {
    .site-loader-container {
        width: 100%;
        text-align: center;
        color: $site-colour-primary;
    
        .site-loader-spinner {
            margin-top: 200px;
        }
    
        .site-loader-text {
            font-weight: 300;
            font-size: 28px;
            margin-top: 30px;
            margin-bottom: 200px;
        }
    }

    .site-fs-loader {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1000;
        background: white;
        top: 0;
        left: 0;

        mat-spinner {
            top: calc(50% - 100px);
            left: calc(50% - 35px);
        }

        .site-loader-text {
            font-weight: bold;
            font-size: 28px;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: calc(50% - 50px);
            color: $site-colour-primary;
        }
    }
}