@import "../../../variables.scss";

@media only screen and (min-width: 800px) {
    .site-loader-container {
        width: 100%;
        text-align: center;
        color: $site-colour-blue;
    
        .site-loader-spinner {
            margin-top: 250px;
        }
    
        .site-loader-text {
            font-weight: 300;
            font-size: 28px;
            margin-top: 30px;
            margin-bottom: 250px;
        }
    }
}
@media only screen and (max-width: 800px) {
    .site-loader-container {
        width: 100%;
        text-align: center;
        color: $site-colour-blue;
    
        .site-loader-spinner {
            margin-top: 200px;
        }
    
        .site-loader-text {
            font-weight: 300;
            font-size: 28px;
            margin-top: 30px;
            margin-bottom: 200px;
        }
    }
}