<site-loader *ngIf="responseLoading" [fullScreenLoader]="true"></site-loader>

<ng-container *ngIf="!responseLoading">
    <home-main-post [blogPosts]="blogPosts"></home-main-post>
    <home-posts-section [sectionTitle]="'Featured Posts'" [sectionDescription]="''" [sectionCategory]="'featured'" [blogPosts]="blogPosts"></home-posts-section>
    <home-posts-section [sectionTitle]="'FIFA Mods'" [sectionDescription]="''" [sectionCategory]="'fifa mods'" [blogPosts]="blogPosts"></home-posts-section>
    <site-ad-placeholder class="ad-placeholder-with-margin" [adZone]="1"></site-ad-placeholder>
    <home-posts-section [sectionTitle]="'FIFA 16 Custom Star-heads'" [sectionDescription]="''" [sectionCategory]="'fifa 16 faces'" [blogPosts]="blogPosts"></home-posts-section>
</ng-container>