<site-loader *ngIf="responseLoading" [fullScreenLoader]="true"></site-loader>

<ng-container *ngIf="!responseLoading">
    <home-main-post [blogPosts]="blogPosts"></home-main-post>
    <home-posts-section [sectionTitle]="'FUT'" [sectionDescription]="'FIFA 19 Ultimate Team<sup>TM</sup>'" [sectionCategory]="'fut'" [blogPosts]="blogPosts"></home-posts-section>
    <site-ad-placeholder class="home-ad-placeholder" [adZone]="1"></site-ad-placeholder>
    <home-posts-section [sectionTitle]="'FIFA 19'" [sectionDescription]="'Career Mode, Player Ratings & Mods'" [sectionCategory]="'fifa'" [blogPosts]="blogPosts"></home-posts-section>
</ng-container>