<site-loader *ngIf="responseLoading" [fullScreenLoader]="true"></site-loader>

<ng-container *ngIf="!responseLoading">
    <home-main-post [blogPosts]="blogPosts"></home-main-post>
    <home-posts-section [sectionTitle]="'FIFA 19 Ultimate Team<sup>TM</sup>'" [sectionDescription]="''" [sectionCategory]="'fut'" [blogPosts]="blogPosts"></home-posts-section>
    <site-ad-placeholder class="ad-placeholder-with-margin" [adZone]="1"></site-ad-placeholder>
    <home-posts-section [sectionTitle]="'Career Mode'" [sectionDescription]="''" [sectionCategory]="'fifa'" [blogPosts]="blogPosts"></home-posts-section>
</ng-container>