<div class="faces-included-list-container" *ngIf="facesIncludedList.length > 0">
    <div class="faces-included-list-heading">
        Star-heads Included:
    </div>
    <ul class="faces-included-list">
        <ng-container *ngIf="!isNewJSONVersion">
            <li class="faces-included-list-item" *ngFor="let face of facesIncludedList" [innerHTML]="face"></li>
        </ng-container>
        <ng-container *ngIf="isNewJSONVersion">
            <li class="faces-included-list-item" *ngFor="let face of facesIncludedList">
                <span class="player-name" [innerHTML]="face.playerName"></span>
            </li>
        </ng-container>
    </ul>
</div>