<div class="wa-container">
    <div class="wa-wrapper">
        <div class="wa-loader-container">
            <img class="wa-loader" [class.wa-loading-element]="!loading" alt="Ultimate FIFA Mods Logo" src="/assets/images/loader/f20al.gif">
        </div>
        <div class="wa-content">
            <a class="wa-logo" routerLink="/">
                <img class="wa-logo-img" alt="Ultimate FIFA Mods" src="/assets/images/logo/site-logo-light-v1.png">
            </a>
            <div class="wa-navbar">
                <ul class="wa-navbar-section wa-secondary-navbar">
                    <li class="wa-navbar-item">
                        <a href="javascript: void(0)">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>
                    <span class="wa-navbar-separator">|</span>
                    <li class="wa-navbar-item">
                        <a [href]="WARootScope.socials.twitter" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="wa-navbar-item">
                        <a [href]="WARootScope.socials.youtube" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
                <ul class="wa-navbar-section wa-primary-navbar">
                    <li class="wa-navbar-item">
                        <a href="javascript: void(0)">
                            Home
                        </a>
                    </li>
                    <li class="wa-navbar-item">
                        <a href="javascript: void(0)">
                            Blog
                        </a>
                    </li>
                    <li class="wa-navbar-item">
                        <a href="javascript: void(0)">
                            Downloads
                        </a>
                    </li>
                    <li class="wa-navbar-item">
                        <a href="javascript: void(0)">
                            About Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>