@import 'variables.scss';
@import 'animations.scss';

.wa-header-container {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;

    .wa-header-wrapper {
        .wa-header-content {
            height: 7rem;
            padding-top: 5rem;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);

            .wa-title {
                flex: 1;
                font-size: 3.2rem;
                font-weight: $font-weight-bold;
                color: $color-code-tertiary;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -1.5rem;
                    height: 2px;
                    width: 17rem;
                    background-color: $color-code-blue;
                }

                .wa-logo {
                    display: inline-block;
                    height: 3.5rem;

                    img {
                        height: 3.5rem;
                    }
                }
            }
    
            .wa-loader-container {
                height: 7rem;
                position: relative;
    
                .wa-loader {
                    height: 5rem;
                    transition: all ease 300ms;
    
                    &.hidden {
                        transform: scale(0);
                    }
    
                    &.logo {
                        cursor: pointer;
                    }
                }
            }
    
            .wa-navbar {
                flex: 1;
                font-size: 1.4rem;
                font-weight: $font-weight-bold;
                text-align: right;
    
                .wa-navbar-toggle {
                    color: $color-code-white;
                    letter-spacing: 2px;
                }
            }
        }
    }
}