<div class="wa-container wa-header-container">
    <div class="wa-wrapper wa-header-wrapper">
        <div class="wa-header-content">
            <div class="wa-title">
                <a class="wa-logo" routerLink="/">
                    <img alt="Ultimate FIFA Mods" src="/assets/images/header/logo-min.png">
                </a>
            </div>
            <div class="wa-loader-container">
                <img class="wa-loader" [class.hidden]="!loading" alt="Ultimate FIFA Mods Logo" src="/assets/images/loader/f20al.gif">
            </div>
            <div class="wa-navbar">
                <div class="wa-navbar-toggle" (click)="toggleNavbar(!WARootScope.mobileNavbarOpened)">
                    <ng-container *ngIf="WARootScope.isMobileViewport">
                        <fa-icon [icon]="faBars" [class.hidden]="WARootScope.mobileNavbarOpened"></fa-icon>
                        <fa-icon [icon]="faTimes" class="wa-navbar-close-icon" [class.hidden]="!WARootScope.mobileNavbarOpened"></fa-icon>
                    </ng-container>
                    <ng-container *ngIf="WARootScope.isDesktopViewport">
                        MENU
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>