@import 'variables.scss';
@import 'animations.scss';

.wa-header-container {
    background-color: $color-code-white;
    border-bottom: 1px solid $color-code-gray;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;

    .wa-header-wrapper {
        height: 7.5rem;
        display: flex;
        align-items: center;

        .wa-title {
            flex: 1;
            font-size: 3.2rem;
            font-weight: $font-weight-bold;
            color: $color-code-tertiary;

            span {
                cursor: pointer;
            }
        }

        .wa-logo-container {
            position: relative;

            .wa-logo {
                height: 5rem;
                transition: all ease 300ms;

                &.hidden {
                    transform: scale(0);
                }

                &.logo {
                    cursor: pointer;
                }

                &.loader {
                    position: absolute;
                    top: 0;
                    left: 0;
                    filter: invert(1);
                }
            }
        }

        .wa-navbar {
            flex: 1;
            font-size: 1.4rem;
            font-weight: $font-weight-bold;
            text-align: right;

            .wa-navbar-list {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .wa-navbar-list-item {
                    padding: 0 2rem;
                    text-transform: uppercase;

                    .wa-navbar-list-item-link {
                        text-decoration: none;
                        color: $color-code-primary;
                        
                        &.active {
                            color: $color-code-blue;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 1023px) {
            padding-left: 0.5rem;

            .wa-title {
                font-size: 2.4rem;
                order: 2;
                text-align: center;
            }

            .wa-logo-container {
                order: 3;

                .wa-logo {
                    height: 4.5rem;
                }
            }

            .wa-navbar {
                order: 1;
                flex: none;
                font-size: 1.8rem;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;

                .wa-navbar-toggle {
                    position: relative;
                    
                    fa-icon {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        transition: all ease 300ms;

                        &.hidden {
                            transform: scale(0);
                        }

                        &.wa-navbar-close-icon {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }

                .wa-navbar-list {
                    width: 100%;
                    margin: 0;
                    position: absolute;
                    padding: 0;
                    display: block;
                    top: 7.5rem;
                    left: 0;
                    @include warpSpeedAhead();
                    filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.1));

                    .wa-navbar-list-item {
                        padding: 0;
                        background-color: #F9F9F9;
                        margin-top: 0.5px;
                        animation: mobileNavbarListItem ease 300ms;

                        .wa-navbar-list-item-link {
                            display: block;
                            height: 100%;
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}