@import "../../../variables.scss";

@mixin post-categories() {
    &.mods {
        background: $site-colour-light-blue;
        color: $site-colour-white;
    }

    &.totw {
        background: $site-colour-pink;
        color: $site-colour-white;
    }

    &.youtube {
        background: $site-colour-red;
        color: $site-colour-white;
    }

    &.fifa {
        &.20 {
            background: $site-colour-yellow;
            color: $site-colour-white;
        }
    }
}