@import "../../../variables.scss";

@mixin post-categories() {
    &.mods {
        background: $site-colour-light-blue;
        color: $site-colour-white;
    }

    &.totw {
        background: $site-colour-pink;
        color: $site-colour-white;
    }

    &.youtube {
        background: $site-colour-red;
        color: $site-colour-white;
    }

    &.fifa20 {
        background: #181F27;
        color: #55FFFA;
    }
}