.post-card {
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .06);
    transition: box-shadow ease 300ms;

    &:hover, &:focus {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        background-color: #FAFAFA;

        .post-image {
            transform: scale(1.1);
        }

        .post-text-content {
            background-color: #FAFAFA;

            .post-title {
                text-decoration-color: #1F2C45;
            }
        }
    }

    .post-image-container {
        overflow: hidden;
    }

    .post-image {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #DDDDDD;
        height: 200px;
        transition: transform ease 300ms;
    }

    .post-text-content {
        width: calc(100% - 40px);
        padding: 20px;
        background-color: #FFFFFF;
        min-height: 110px;
        transition: background-color ease 300ms;

        .post-title {
            font-weight: bold;
            font-size: 21px;
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: text-decoration-color 100ms ease;

            ::ng-deep span {
                text-decoration: underline;
                text-decoration-color: transparent;
                transition: text-decoration-color 100ms ease;
            }

            &.post-title-line-clamp {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-height: 1.2em;
                max-height: 2.4em;
            }

            @media only screen and (max-width: 1024px) {
                font-size: 20px;
            }
        }

        .post-description {
            font-size: 14px;
            margin-top: 15px;
        }

        .post-footer-text {
            margin-top: 30px;
            font-size: 12px;
            line-height: 18px;

            .post-category {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 800;
                margin-bottom: 5px;
                display: inline-block;
                color: #305BA5;
            }

            .post-date {
                color: #777777;
                font-weight: normal;
                float: right;
            }
        }
    }

    &.post-card-dark-theme {
        background: #1F2C45;
        color: #FFFFFF;
        border: none;

        .post-image {
            background-color: #2F2E2E;
        }

        .post-text-content {
            background: #1F2C45;
            transition: background ease 300ms;

            .post-footer-text {
                .post-category {
                    color: #FFC145;
                }
    
                .post-date {
                    color: #CCCCCC;
                }
            }
        }

        &:hover, &:focus {
            background: rgb(40, 55, 83);
            
            .post-text-content {
                background: rgb(40, 55, 83);

                .post-title {
                    text-decoration-color: #FFFFFF;
                }
            }
        }
    }

    &.card-style-hero {
        .post-image {
            height: 100%;
        }

        .post-image-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            opacity: 0;
            transition: opacity ease 300ms;
        }

        .post-text-content {
            position: absolute;
            width: calc(100% - 80px);
            left: 0;
            bottom: 0;
            background: transparent;
            padding: 40px;

            .post-category {
                display: inline-block;
                padding: 10px;
                text-transform: uppercase;
                font-weight: 800;
                color: #2F2E2E;
                background: #FFC145;
                font-size: 21px;
                margin-bottom: 15px;
            }

            .post-title {
                font-size: 28px;

                ::ng-deep span {
                    display: inline-block;
                    padding: 10px;
                    background: #1F2C45;
                    text-transform: uppercase;

                    ~span {
                        margin-top: 2px;
                        color: #FFC145;
                    }
                }
            }

            @media only screen and (max-width: 900px) {
                padding: 15px;

                .post-category {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
    
                .post-title {
                    font-size: 18px;
                }
            }
        }

        &:hover, &:focus {
            .post-image-overlay {
                opacity: 0.05;
            }

            .post-text-content {
                background: transparent;

                .post-title {
                    text-decoration-color: rgba(255, 255, 255, 0.5);

                    ::ng-deep span {
                        text-decoration-color: rgba(255, 255, 255, 0.5);

                        ~span {
                            text-decoration-color: rgba(255, 193, 69, 0.5);
                        }
                    }
                }
            }
        }
    }

    &.post-card-full-width {
        width: 100%;
    }
}