<div *ngIf="cardStyle == 'default'" class="post-card card-style-default no-highlight" 
    [ngClass]="{'post-card-dark-theme': darkTheme,
                'post-card-full-width': fullWidth}"
    matRipple
    [routerLink]="post['post-link']">
    <div class="post-image" *ngIf="!hideImage" [style.background-image]="'url(' + post['post-image'] + ')'"></div>
    <div class="post-text-content">
        <div class="post-title" [ngClass]="{'post-title-line-clamp': titleLineClamp}" [innerHTML]="post['post-title']"></div>
        <div class="post-description" *ngIf="!hideDescription" [innerHTML]="((post['post-description'] ? post['post-description'] : post['post-text-content']) | slice : 0 : 100).trim() + '...'"></div>
        <div class="post-footer-text" *ngIf="!hideFooter">
            <span class="post-category" [innerHTML]="post['post-category'] ? post['post-category'] : post['post-category-list'].split(';')[0]"></span>
            <span class="post-date" [innerHTML]="post['post-date'] | timeSince"></span>
        </div>
    </div>
</div>
<div *ngIf="cardStyle == 'hero'" class="post-card card-style-hero no-highlight" 
    [ngClass]="{'post-card-dark-theme': darkTheme,
                'post-card-full-width': fullWidth}"
    matRipple
    [routerLink]="post['post-link']">
    <div class="post-image" [style.background-image]="'url(' + post['post-image'] + ')'"></div>
    <div class="post-image-overlay"></div>
    <div class="post-text-content">
        <span class="post-category" [innerHTML]="post['post-category'] ? post['post-category'] : post['post-category-list'].split(';')[0]"></span>
        <div class="post-title" [innerHTML]="(post['post-title'] | multistring : 5)"></div>
        <!-- <span class="post-date" [innerHTML]="post['post-date'] | timeSince"></span> -->
    </div>
</div>