@import 'variables.scss';

.wa-download-center-filters {
    padding: 2rem;
    display: flex;

    .wa-download-center-filter {
        flex: 1;
        padding-right: 2rem;

        .wa-download-center-filter-element {
            width: 100%;
        }
    }
}