<form [formGroup]="blogPostForm" autocomplete="off">

    <mat-form-field id="postDate" appearance="fill">
        <mat-label>Post Date</mat-label>
        <input matInput formControlName="postDate" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field id="postCategory" appearance="fill">
        <mat-label>Post Category</mat-label>
        <mat-select formControlName="postCategory" disableOptionCentering="true">
            <mat-option value="mods">Mods</mat-option>
            <mat-option value="totw">TOTW</mat-option>
            <mat-option value="tots">TOTS</mat-option>
            <mat-option value="fifa 18">FIFA 18</mat-option>
            <mat-option value="fifa 18">FIFA 16</mat-option>
            <mat-option value="player review">Player Review</mat-option>
            <mat-option value="career mode">Career Mode</mat-option>
            <mat-option value="fifa mods">FIFA Mods</mat-option>
            <mat-option value="fifa16 faces">FIFA 16 Faces</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Post Title</mat-label>
        <input matInput formControlName="postTitle" placeholder="Enter the title of your post">
        <i matSuffix class="fas fa-heading"></i>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Post Image</mat-label>
        <input matInput formControlName="postMedia" placeholder="Enter the URL of the post image">
        <i matSuffix class="fas fa-image"></i>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Post Description</mat-label>
        <input matInput formControlName="postDescription" placeholder="Enter the first line of your post">
        <i matSuffix class="fas fa-certificate"></i>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Post Content</mat-label>
        <textarea matInput cdkTextareaAutosize formControlName="postContent" cdkTextareaAutosize="true"
            cdkAutosizeMinRows="10" cdkAutosizeMaxRows="10"></textarea>
        <i matSuffix class="fas fa-align-left"></i>
    </mat-form-field>

    <div class="player-starhead-info">
        <div class="player-starhead-info-header">
            Custom Star-heads
        </div>
        <div class="player-starhead-info-row" *ngFor="let starHead of blogPostForm.controls.starHeadsList.controls; let i = index" [formGroup]="starHead">
            <div class="player-starhead-form">
                <mat-form-field class="player-name" appearance="fill">
                    <mat-label>Player Name</mat-label>
                    <input matInput formControlName="playerName"/>
                </mat-form-field>
                <div class="player-info-row">
                    <mat-form-field class="player-league" appearance="fill">
                        <mat-label>League</mat-label>
                        <mat-select formControlName="playerLeague">
                            <mat-option *ngFor="let league of getLeagueListKeys()" [value]="league">
                                {{getLeagueListObject(league).name}}
                            </mat-option>
                        </mat-select>
                        <span *ngIf="starHead.value.playerLeague" matSuffix class="nation-flag mat-input-suffix-flag {{getLeagueListObject(starHead.value.playerLeague).countryCode}}"></span>
                    </mat-form-field>
                    <mat-form-field *ngIf="starHead.value.playerLeague" class="player-club" appearance="fill">
                        <mat-label>Club</mat-label>
                        <mat-select formControlName="playerClub">
                            <mat-option *ngFor="let club of getClubListKeys(starHead.controls.playerLeague.value)" [value]="club">
                                {{getClubInfo(starHead.controls.playerLeague.value, club).name}}
                            </mat-option>
                        </mat-select>
                        <span *ngIf="starHead.value.playerClub" matSuffix class="club-crest mat-input-suffix-crest {{starHead.value.playerClub}}"></span>
                    </mat-form-field>
                </div>
                <div class="player-info-row">
                    <mat-form-field class="player-nationality" appearance="fill">
                        <mat-label>Nationality</mat-label>
                        <mat-select formControlName="playerNationality">
                            <mat-option *ngFor="let country of (countriesList | objectKeys)" [value]="country">
                                {{countriesList[country].name}}
                            </mat-option>
                        </mat-select>
                        <span *ngIf="starHead.value.playerNationality" matSuffix class="nation-flag mat-input-suffix-flag {{starHead.value.playerNationality}}"></span>
                    </mat-form-field>

                    <mat-form-field class="player-screenshot" appearance="fill">
                        <mat-label>Screenshot</mat-label>
                        <input matInput formControlName="playerScreenshot"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="player-starhead-form-controls">
                <a class="button-link simple-button" href="javascript: void(0)" (click)="removePlayer(i)">
                    <i class="far fa-times-circle"></i>
                </a>
            </div>
        </div>
        <div class="add-another-player-link">
            <a class="button-link secondary-button-link link-icon-right" href="javascript: void(0)" (click)="addNewStarHeadRow()">
                Add another Player <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Contributors</mat-label>
        <mat-chip-list #contributorsChipList>
            <mat-chip *ngFor="let contributor of selectedContributorsList; let i = index" [removable]="true" (removed)="removeContributor(i)">
                {{contributor}}
                <i matChipRemove class="far fa-times-circle"></i>
            </mat-chip>
            <input formControlName="contributorsList" [matAutocomplete]="contributorAutoComplete" [matChipInputFor]="contributorsChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addContributor($event)">
        </mat-chip-list>
        <mat-autocomplete #contributorAutoComplete="matAutocomplete" (optionSelected)="addContributor($event)">
            <mat-option *ngFor="let contributor of contributorsList" [value]="contributor">
                {{contributor}}
            </mat-option>
        </mat-autocomplete>
        <i matSuffix class="fas fa-people-carry"></i>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Download URL</mat-label>
        <input matInput formControlName="modDownloadLink" placeholder="Enter the file link">
        <i matSuffix class="fas fa-link"></i>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-chip-list #tagsChipList>
            <mat-chip *ngFor="let contributor of selectedPostTags; let i = index" [removable]="true" (removed)="removeTag(i)">
                {{contributor}}
                <i matChipRemove class="far fa-times-circle"></i>
            </mat-chip>
            <input formControlName="morePostCategories" [matAutocomplete]="contributorAutoComplete" [matChipInputFor]="tagsChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
        <mat-autocomplete #contributorAutoComplete="matAutocomplete" (optionSelected)="addTag($event)">
            <mat-option *ngFor="let category of postCategories" [value]="category">
                {{category}}
            </mat-option>
        </mat-autocomplete>
        <i matSuffix class="fas fa-tags"></i>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Post Footer</mat-label>
        <input matInput formControlName="postFooterMessage" placeholder="Enter the last line of your post">
    </mat-form-field>

    <a class="button-link primary-button-link" href="javascript: void(0)" (click)="submitPost()">
        Generate Post
    </a>
</form>