.screenshots-container {
    margin: 30px 0;
    clear: both;

    .screenshots-heading {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .mat-grid-list {
        .mat-grid-tile {
            .mat-figure {
                .screenshot-image {
                    margin: 10px 0;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .screenshots-container {
        margin: 30px 15px;
    }
}