@import "../variables.scss";

.site-header-container {
    background: $site-colour-primary url("https://i.imgur.com/fSI0haF.jpg") no-repeat top right;
    background-size: contain;
    color: $site-colour-white;
    position: relative;
    vertical-align: middle;
    display: inline-table;
    width: 100%;
    height: 100px;

    .site-logo-wrapper {
        display: table-cell;
        padding: 20px;
        vertical-align: middle;
        width: 275px;

        .site-logo-image {
            display: inline-block;
            height: 50px;
            vertical-align: top;
        }
    }

    .site-navbar {
        margin-left: 40px;
        font-weight: 300;
        vertical-align: middle;
        margin-top: 5px;
        display: table-cell;
        height: 100px;

        .site-navigation-item {
            color: $site-colour-white;
            text-decoration: none;
            height: 100px;
            display: inline-block;
            line-height: 110px;
            padding: 0 15px;
            transition: all 300ms;

            &.site-navigation-item-active {
                position: relative;
                font-weight: 600;

                &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: $site-colour-yellow;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                }
            }

            &.site-navigation-icon-active {
                background-color: rgba(256, 256, 256, 0.05);
                color: $site-colour-yellow;
            }

            &:hover, &:focus {
                color: $site-colour-yellow;
                background-color: rgba(256, 256, 256, 0.05);
            }

            .mat-icon {
                transform: translateY(5px);
            }
        }
    }
}

.site-title {
    font-family: $site-font-logo;
    margin-left: 20px;
    font-size: 28px;
    font-weight: bold;
    line-height: 50px;
    display: inline-block;

    .site-title-primary {
        color: $site-colour-white;
    }
    .site-title-secondary {
        color: $site-colour-secondary;
    }
}

@media only screen and (max-width: 800px) {
    .mobile-site-navbar {
        display: inline-table;
        background: $site-colour-primary;
        height: 75px;
        width: 100%;

        .site-logo-container, .site-title, mat-icon {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .site-logo-container {
            width: 45px;
            padding: 0 15px;

            .site-logo-image {
                height: 45px;
            }
        }

        mat-icon {
            width: 50px;
            color: $site-colour-white;
            padding-top: 5px;
            cursor: pointer;
        }
    }
}