<div class="site-header-container" [ngClass]="{'light-theme': lightTheme}">
	<div class="uk-flex-inline">
		<span class="site-logo">
			<a href="#">
				<img class="site-logo-image" alt="WWT FIFA Mods Logo" src="https://i.imgur.com/w9ZdFrZ.png">
			</a>
		</span>
		<span class="site-title">
			<span class="site-title-primary">WWT</span><span class="site-title-secondary">FIFA</span><span class="site-title-primary">MODS</span>
		</span>
	</div>
	<div class="uk-flex-inline site-navbar">
		<a href="#" routerLink="/" class="site-navigation-item" routerLinkActive="site-navigation-item-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
		<a href="#" routerLink="/blog/2018/07/31/fifa18-michael-carrick-end-of-an-era-player-review" routerLinkActive="site-navigation-item-active" class="site-navigation-item">Blog</a>
		<a href="#" routerLink="/downloads" class="site-navigation-item" routerLinkActive="site-navigation-item-active" [routerLinkActiveOptions]="{exact: true}">Downloads</a>
	</div>
	<div class="uk-flex-inline social-icons-list">
		<a href="https://twitter.com/wwtfifamods" target="_blank" class="social-icon" uk-icon="icon: twitter"></a>
		<a href="https://www.youtube.com/wwtfifamods" target="_blank" class="social-icon" uk-icon="icon: youtube"></a>
		<a href="https://www.instagram.com/wwtfifamods/" target="_blank" class="social-icon" uk-icon="icon: instagram"></a>
	</div>
</div>