a:not(.unstyled-link) {
    color: #3D9BE9;
    font-size: 14px;
    font-weight: 600;
    text-decoration-color: transparent; 
    transition: all 300ms;

    &:hover, &:focus {
        color: #0D162B;
        text-decoration-color: #0D162B;
    }

    &.link-light {
        color: #F5F5F5;
        font-weight: 300;

        &:hover, &:focus {
            color: #FFFFFF;
            text-decoration-color: #FFFFFF;
        }
    }

    &.button-link {
        color: #333333;
        display: inline-block;
        padding: 15px 30px;
        border-radius: 30px;
        border: 1px solid transparent;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .06);

        &:hover, &:focus {
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        }

        &.reduced-padding {
            padding: 10px 15px;
        }

        &.primary-button-link {
            background-color: #333333;
            border: 1px solid #333333;
            color: #FFFFFF;

            &:hover, &:focus {
                background-color: #0D162B;
                border: 1px solid #0D162B;
                color: #FFFFFF;
                text-decoration-color: #FFFFFF;
            }
        }

        &.secondary-button-link {
            background-color: #FFFFFF;
            border: 1px solid #FFFFFF;

            &:hover, &:focus {
                background-color: #FAFAFA;
                border: 1px solid #FAFAFA;
            }

            &.highlight-outline {
                border: 1px solid #333333;

                &:hover, &:focus {
                    border: 1px solid #0D162B;
                }
            }
        }

        &.ghost-button-link {
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.2);
            color: #333333;
            box-shadow: none;

            &:hover, &:focus {
                border: 1px solid rgba(48, 91, 165, 0.4);
                background: rgba(0, 0, 0, 0.05);
                color: #333333;
                box-shadow: none;
            }
        }

        &.ghost-button-link-light {
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.4);
            color: #FFFFFF;
            box-shadow: none;

            &:hover, &:focus {
                border: 1px solid rgba(255, 193, 69, 0.4);
                background: rgba(255, 255, 255, 0.05);
                color: #FFC145;
                text-decoration-color: #FFC145;
                box-shadow: none;
            }
        }

        &.overlay-button-link {
            position: absolute;
            bottom: 50px;
            right: 30px;

            &.circular-button-link {
                padding: 0;
                height: 50px;
                width: 50px;
                line-height: 50px;
                text-align: center;
            }
        }

        &.simple-button {
            padding: 0;
            border: none;
            box-shadow: none;

            &.simple-button-light {
                color: #CCCCCC;

                &:hover, &:focus {
                    border: none;
                    box-shadow: none;
                    color: #F5F5F5;
                }
            }
        }
    }

    &.link-icon-left {
        i {
            margin-right: 5px;
        }
    }

    &.link-icon-right {
        i {
            margin-left: 5px;
        }
    }
}