@import 'variables.scss';

a {
    cursor: pointer;
    position: relative;
    color: $color-code-primary;
    outline: none;
    transition: color ease 250ms;

    &:hover {
        color: $color-code-tertiary;
    }
}