@keyframes placeholderShimmer {
    from {
        background-position: -500px 0;
    }
    to {
        background-position: 500px 0;
    }
}

@keyframes mobileNavbarListItem {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@mixin warpSpeedAhead() {
    will-change: transform;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

* {
    transition: opacity ease 300ms;
}

.data-loading {
    opacity: 0;
    pointer-events: none;
}