@import 'variables.scss';

html, body {
    font-size: 62.5%;
    font-family: $site-font-family;
    margin: 0;
    scroll-behavior: smooth;
    color: $color-code-text;
    background-color: $color-code-white;
}

body {
    overflow-x: hidden;

    * {
        box-sizing: border-box;
    }
}

.wa-text-blue {
    color: $color-code-blue;
}

.wa-text-lightblue {
    color: $color-code-lightblue;
}

.wa-text-normal {
    font-weight: $font-weight-normal;
}

.wa-text-light {
    font-weight: $font-weight-light;
}