@import 'variables.scss';

html, body {
    font-size: 62.5%;
    font-family: $site-font-family;
    margin: 0;
    scroll-behavior: smooth;
    color: $color-code-text;

    .wa-text-blue {
        color: $color-code-blue;
    }

    .wa-text-light {
        font-weight: 300;
    }
}