button:not(.mat-icon-button):not(.mat-button) {
    border: none;
    background: #1F2C45;
    color: #FFC145;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    min-height: 50px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .06);
    transition: all 300ms;

    &:hover, &:focus {
        background: #1F2C45;
        color: #F5F5F5;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }

    &.circular-button {
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 100%;
        padding: 0;
    }
}