.club-crest {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.mat-input-suffix-crest {
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    &.arsenal {
        background-image: url('https://raw.githubusercontent.com/krisaju95/ufifamods/master/media/images/club-crests/epl/arsenal.png');
    }

    &.bournemouth {
        background-image: url('https://raw.githubusercontent.com/krisaju95/ufifamods/master/media/images/club-crests/epl/bournemouth.png');
    }

    &.newcastle {
        background-image: url('https://raw.githubusercontent.com/krisaju95/ufifamods/master/media/images/club-crests/epl/newcastle.png');
    }

    &.tottenham {
        background-image: url('https://raw.githubusercontent.com/krisaju95/ufifamods/master/media/images/club-crests/epl/tottenham.png');
    }

    &.barcelona {
        background-image: url('https://raw.githubusercontent.com/krisaju95/ufifamods/master/media/images/club-crests/laliga/barcelona.png');
    }
}