@import '../app/variables.scss';
@import './club-crests/epl.scss';
@import './club-crests/laliga.scss';
@import './club-crests/bundesliga.scss';
@import './club-crests/seriaA.scss';
@import './club-crests/ligue1.scss';

.club-crest {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url($site-cloud-storage-images-club-crests + 'placeholder.png');

    &.mat-input-suffix-crest {
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    @include epl();

    @include laliga();

    @include bundesliga();

    @include serieA();

    @include ligue1();
}