$site-cloud-path-prefix: 'https://raw.githubusercontent.com/krisaju95/ufifamods/master/media/images/flags/';

.nation-flag {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;

    &.mat-input-suffix-flag {
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    &.ARG {
        background-image: url($site-cloud-path-prefix + 'ARG.png');
    }

    &.BEL {
        background-image: url($site-cloud-path-prefix + 'BEL.png');
    }

    &.BOS {
        background-image: url($site-cloud-path-prefix + 'BOS.png');
    }

    &.BRA {
        background-image: url($site-cloud-path-prefix + 'BRA.png');
    }

    &.ENG {
        background-image: url($site-cloud-path-prefix + 'ENG.png');
    }

    &.ESP {
        background-image: url($site-cloud-path-prefix + 'ESP.png');
    }

    &.FRA {
        background-image: url($site-cloud-path-prefix + 'FRA.png');
    }

    &.GER {
        background-image: url($site-cloud-path-prefix + 'GER.png');
    }

    &.ITA {
        background-image: url($site-cloud-path-prefix + 'ITA.png');
    }

    &.JAP {
        background-image: url($site-cloud-path-prefix + 'JAP.png');
    }

    &.POL {
        background-image: url($site-cloud-path-prefix + 'POL.png');
    }

    &.POR {
        background-image: url($site-cloud-path-prefix + 'POR.png');
    }

    &.URU {
        background-image: url($site-cloud-path-prefix + 'URU.png');
    }
}