@import '../app/variables.scss';

.nation-flag {
    width: 20px;
    height: 20px;
    background-image: url($site-cloud-storage-images-flags + 'placeholder.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;

    &.rounded {
        border-radius: 100%;
        background-size: cover;
    }

    &.shadow {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    }

    &.mat-input-suffix-flag {
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    &.ARG {
        background-image: url($site-cloud-storage-images-flags + 'ARG.png');
    }

    &.AUT {
        background-image: url($site-cloud-storage-images-flags + 'AUT.png');
    }

    &.BEL {
        background-image: url($site-cloud-storage-images-flags + 'BEL.png');
    }

    &.BOS {
        background-image: url($site-cloud-storage-images-flags + 'BOS.png');
    }

    &.BRA {
        background-image: url($site-cloud-storage-images-flags + 'BRA.png');
    }

    &.CHL {
        background-image: url($site-cloud-storage-images-flags + 'CHL.png');
    }

    &.CHN {
        background-image: url($site-cloud-storage-images-flags + 'CHN.png');
    }

    &.CIV {
        background-image: url($site-cloud-storage-images-flags + 'CIV.png');
    }

    &.COD {
        background-image: url($site-cloud-storage-images-flags + 'COD.png');
    }

    &.COL {
        background-image: url($site-cloud-storage-images-flags + 'COL.png');
    }

    &.CRI {
        background-image: url($site-cloud-storage-images-flags + 'CRI.png');
    }

    &.DEN {
        background-image: url($site-cloud-storage-images-flags + 'DEN.png');
    }

    &.ECU {
        background-image: url($site-cloud-storage-images-flags + 'ECU.png');
    }

    &.EGY {
        background-image: url($site-cloud-storage-images-flags + 'EGY.png');
    }

    &.ENG    {
        background-image: url($site-cloud-storage-images-flags + 'ENG.png');
    }

    &.ESP {
        background-image: url($site-cloud-storage-images-flags + 'ESP.png');
    }

    &.FJI {
        background-image: url($site-cloud-storage-images-flags + 'FJI.png');
    }

    &.FRA {
        background-image: url($site-cloud-storage-images-flags + 'FRA.png');
    }

    &.GER {
        background-image: url($site-cloud-storage-images-flags + 'GER.png');
    }

    &.GRC {
        background-image: url($site-cloud-storage-images-flags + 'GRC.png');
    }

    &.HRV {
        background-image: url($site-cloud-storage-images-flags + 'HRV.png');
    }

    &.IDN {
        background-image: url($site-cloud-storage-images-flags + 'IDN.png');
    }

    &.IND {
        background-image: url($site-cloud-storage-images-flags + 'IND.png');
    }

    &.IRN {
        background-image: url($site-cloud-storage-images-flags + 'IRN.png');
    }

    &.ISL {
        background-image: url($site-cloud-storage-images-flags + 'ISL.png');
    }

    &.ITA {
        background-image: url($site-cloud-storage-images-flags + 'ITA.png');
    }

    &.JAP {
        background-image: url($site-cloud-storage-images-flags + 'JAP.png');
    }

    &.MAR {
        background-image: url($site-cloud-storage-images-flags + 'MAR.png');
    }

    &.MEX {
        background-image: url($site-cloud-storage-images-flags + 'MEX.png');
    }

    &.NLD, &.NED {
        background-image: url($site-cloud-storage-images-flags + 'NLD.png');
    }

    &.NOR {
        background-image: url($site-cloud-storage-images-flags + 'NOR.png');
    }

    &.POL {
        background-image: url($site-cloud-storage-images-flags + 'POL.png');
    }

    &.POR {
        background-image: url($site-cloud-storage-images-flags + 'POR.png');
    }

    &.ROU {
        background-image: url($site-cloud-storage-images-flags + 'ROU.png');
    }

    &.RUS {
        background-image: url($site-cloud-storage-images-flags + 'RUS.png');
    }

    &.SCO {
        background-image: url($site-cloud-storage-images-flags + 'SCO.png');
    }

    &.SEN {
        background-image: url($site-cloud-storage-images-flags + 'SEN.png');
    }

    &.SRB {
        background-image: url($site-cloud-storage-images-flags + 'SRB.png');
    }

    &.SUI {
        background-image: url($site-cloud-storage-images-flags + 'SUI.png');
    }

    &.TUR {
        background-image: url($site-cloud-storage-images-flags + 'TUR.png');
    }

    &.UKR {
        background-image: url($site-cloud-storage-images-flags + 'UKR.png');
    }

    &.URU {
        background-image: url($site-cloud-storage-images-flags + 'URU.png');
    }

    &.VEN {
        background-image: url($site-cloud-storage-images-flags + 'VEN.png');
    }

    &.VNM {
        background-image: url($site-cloud-storage-images-flags + 'VNM.png');
    }

    &.WAL {
        background-image: url($site-cloud-storage-images-flags + 'WAL.png');
    }
}