@import 'variables.scss';

h1, h2, h3 {
    margin: 0;
    margin-bottom: 2rem;
    font-family: $headings-font-family;
    font-weight: $font-weight-heading;
    text-transform: uppercase;

    .wa-title-bold, &.wa-title-bold {
        font-weight: 600;
    }

    .wa-title-highlight, &.wa-title-highlight {
        color: $color-code-blue;
    }

    .wa-title-separator, &.wa-title-separator {
        opacity: 0.5;
    }
}

h1 {
    font-size: 4.2rem;
    line-height: 7rem;

    @media only screen and (max-width: 920px) {
        font-size: 3.2rem;
        line-height: 3.6rem;
    }
}

h2 {
    font-size: 3.6rem;

    @media only screen and (max-width: 920px) {
        font-size: 2.4rem;
    }
}

h3 {
    font-size: 2.4rem;

    @media only screen and (max-width: 920px) {
        font-size: 2.1rem;
    }
}

.wa-page-title {
    font-size: 6rem;
    margin: 0;

    @media only screen and (max-width: 920px) {
        font-size: 3.2rem;
    }
}