@import 'variables.scss';

p {
    font-size: 1.6rem;
    font-weight: $font-weight-light;
    line-height: 1.4;
    margin: 0 0 2.5rem 0;

    @media only screen and (max-width: 920px) {
        font-size: 1.4rem;
    }

    .highlight, &.highlight {
        font-weight: $font-weight-medium;
    }
}