@import 'variables.scss';

.wa-profile-dp {
    width: 100px;
    height: 100px;
    background-image: url($site-cloud-storage-images-team-members + 'NA.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;

    &.rounded {
        border-radius: 100%;
    }

    &.krisaju95 {
        background-image: url($site-cloud-storage-images-team-members + 'krisaju95.jpg');
    }

    &.aurion17 {
        background-image: url($site-cloud-storage-images-team-members + 'aurion17.jpg');
    }

    &.JoeBro94 {
        background-image: url($site-cloud-storage-images-team-members + 'Joebro94.jpg');
    }

    &.FCB17 {
        background-image: url($site-cloud-storage-images-team-members + 'FCB17.jpg');
    }

    &.BR7 {
        background-image: url($site-cloud-storage-images-team-members + 'BR7.png');
    }

    &.aNuK3, &.aNuk3, &.anuk3 {
        background-image: url($site-cloud-storage-images-team-members + 'aNuK3.jpg');
    }

    &.EA {
        background-image: url($site-cloud-storage-images-team-members + 'EA.png');
    }

    &.FNG {
        background-image: url($site-cloud-storage-images-team-members + 'FNG.png');
    }
}