// Font Family
$site-font-family: 'Rubik', sans-serif;
$headings-font-family: 'Rubik', sans-serif;

// Font Weights
$font-weight-light:     300;
$font-weight-normal:    400;
$font-weight-medium:    500;
$font-weight-bold:      700;
$font-weight-heading:   500;

// Color Codes
$color-code-primary:            #262542;
$color-code-secondary:          #17C7FF;
$color-code-tertiary:           #FFC145;
$color-code-text:               #2A2A2A;
$color-code-yellow:             #FFC145;
$color-code-lightblue:          #17C7FF;
$color-code-blue:               #1494E6;
$color-code-darkblue:           #121025;
$color-code-pink:               #FF4A77;
$color-code-gray:               #DDDDDD;
$color-code-lightgray:          #EEEEEE;
$color-code-darkgray:           #CCCCCC;
$color-code-darkergray:         #AAAAAA;
$color-code-white:              #FFFFFF;

$border-color: #EEEEEE;

// Cloud Storage URL Prefix
$site-cloud-storage-images: '/assets/images/';
$site-cloud-storage-images-flags: $site-cloud-storage-images + 'flags/';
$site-cloud-storage-images-club-crests: $site-cloud-storage-images + 'club-crests/';
$site-cloud-storage-images-team-members: $site-cloud-storage-images + 'profiles/';