@mixin bundesliga() {
    &.fcbayern {
        background-image: url($site-cloud-storage-images-club-crests + 'bundesliga/fcbayern.png');
    }

    &.rbleipzig {
        background-image: url($site-cloud-storage-images-club-crests + 'bundesliga/rbleipzig.png');
    }

    &.dortmund {
        background-image: url($site-cloud-storage-images-club-crests + 'bundesliga/dortmund.png');
    }

    &.fcaugsburg {
        background-image: url($site-cloud-storage-images-club-crests + 'bundesliga/fcaugsburg.png');
    }
}