@mixin laliga() {
    &.alaves {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/alaves.png');
    }

    &.athletic {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/athletic.png');
    }

    &.atletico {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/atletico.png');
    }

    &.barcelona {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/barcelona.png');
    }

    &.celta {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/celta.png');
    }

    &.eibar {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/eibar.png');
    }

    &.espanyol {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/espanyol.png');
    }

    &.getafe {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/getafe.png');
    }

    &.girona {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/girona.png');
    }

    &.huesca {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/huesca.png');
    }

    &.leganes {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/leganes.png');
    }

    &.levante {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/levante.png');
    }

    &.rayo {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/rayo.png');
    }

    &.realbetis {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/realbetis.png');
    }

    &.realmadrid {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/realmadrid.png');
    }

    &.realsociedad {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/realsociedad.png');
    }

    &.sevilla {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/sevilla.png');
    }

    &.valencia {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/valencia.png');
    }

    &.realvalladolid {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/realvalladolid.png');
    }

    &.villarreal {
        background-image: url($site-cloud-storage-images-club-crests + 'laliga/villarreal.png');
    }
}