@mixin serieA() {
    &.atalanta {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/atalanta.png');
    }

    &.bologna {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/bologna.png');
    }

    &.cagliari {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/cagliari.png');
    }

    &.chievo {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/chievo.png');
    }

    &.empoli {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/empoli.png');
    }

    &.fiorentina {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/fiorentina.png');
    }

    &.frosinone {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/frosinone.png');
    }

    &.genoa {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/genoa.png');
    }

    &.inter {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/inter.png');
    }

    &.juventus {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/juventus.png');

        &.totw {
            background-image: url($site-cloud-storage-images-club-crests + 'serieA/light/juventus.png');
        }
    }

    &.lazio {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/lazio.png');
    }

    &.milan {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/milan.png');
    }

    &.napoli {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/napoli.png');
    }

    &.parma {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/parma.png');
    }

    &.roma {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/roma.png');
    }

    &.sampdoria {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/sampdoria.png');
    }

    &.sassuolo {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/sassuolo.png');
    }

    &.spal {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/spal.png');
    }

    &.torino {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/torino.png');
    }

    &.udinese {
        background-image: url($site-cloud-storage-images-club-crests + 'serieA/udinese.png');
    }
}