@import 'variables.scss';
@import 'animations.scss';

.wa-hero-banner-image-container {
    height: 80rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25rem;
        z-index: 1;
        background-image: linear-gradient(to bottom, $color-code-darkblue, transparent);
    }

    .wa-hero-banner-image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top center;
        opacity: 0;
        filter: grayscale(1);
        mix-blend-mode: luminosity;
        transition: opacity ease 500ms;

        &.active-image {
            opacity: 0.1;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background-image: linear-gradient(to top, $color-code-darkblue, transparent);
    }
}

.wa-header, .wa-body, .wa-footer {
    position: relative;
    z-index: 1;
}

.wa-body {
    min-height: calc(100vh - 5rem);
    transition: opacity 300ms ease;

    &.wa-page-loading {
        opacity: 0;
    }
}