@import 'variables.scss';
@import 'animations.scss';

.wa-header {
    position: relative;
    z-index: 1;
}

.wa-body {
    min-height: calc(100vh - 5rem);
}

.wa-body, .wa-footer {
    transition: opacity 300ms ease;
    
    &.wa-page-loading {
        opacity: 0;
    }
}