@import '../../variables.scss';

.error-page-container {
    padding: 150px 200px;
    padding-top: 100px;
    display: inline-table;

    .text-content {
        display: table-cell;

        .error-code {
            font-size: 60px;
            color: #333333;
            font-weight: 800;
        }
    
        .oops-text {
            font-size: 100px;
            font-weight: 600;
        }
    
        .error-description-text {
            font-size: 28px;
            font-weight: normal;
            margin-top: 20px;

            .text-line-1 {
                margin-bottom: 10px;
            }

            .text-line-2 {
                font-size: 21px;
                font-weight: 300;
            }
        }
    }

    .griffin-art {
        display: table-cell;
        width: 350px;
        height: 500px;
        background-size: contain;
        background-repeat: no-repeat;

        &.error-404 {
            background-image: url($site-cloud-storage-images + 'error-page/404.jpg');
        }

        &.error-7 {
            background-image: url($site-cloud-storage-images + 'error-page/7.jpg');
        }
    }
}

@media only screen and (max-width: 1280px) {
    .error-page-container {
        padding: 60px;
    }
}

@media only screen and (max-width: 1024px) {
    .error-page-container {
        padding: 40px;
    }
}

@media only screen and (max-width: 900px) and (max-width: 900px) {
    .error-page-container {
        padding: 20px;

        .text-content {
            .error-code {
                font-size: 30px;
            }
        
            .oops-text {
                font-size: 40px;
            }
        
            .error-description-text {
                font-size: 21px;
    
                .text-line-1 {
                    margin-bottom: 10px;
                }
    
                .text-line-2 {
                    font-size: 21px;
                    font-weight: 300;
                }
            }
        }
    
        .griffin-art {
            display: none;
        }
    }
}