@import 'variables.scss';

.wa-posts-grid-container {
    .wa-posts-grid-wrapper {
        .wa-posts-grid-content {
            padding: 5rem 0;
            
            .wa-posts-grid-title {
                margin-bottom: 3rem;
            }

            .wa-posts-grid-tiles {
                display: flex;
                justify-content: space-between;

                .wa-posts-grid-tile {
                    width: calc(33.33333% - 1rem);
                }
            }
        }
    }

    @media only screen and (max-width: 1023px) {
        .wa-posts-grid-wrapper {
            .wa-posts-grid-content {
                padding: 2.5rem 0;
                
                .wa-posts-grid-title {
                    text-align: center;
                }
    
                .wa-posts-grid-tiles {
                    display: block;
    
                    .wa-posts-grid-tile {
                        width: 100%
                    }
                }
            }
        }
    }
}