<div class="wa-container wa-posts-grid-container" [class.data-loading]="loading">
    <div class="wa-wrapper wa-posts-grid-wrapper">
        <div class="wa-posts-grid-content">
            <h2 class="wa-posts-grid-title wa-section-heading"> {{title}} </h2>
            <div class="wa-posts-grid-tiles">
                <div *ngFor="let post of [].constructor(numberOfPosts); let postIndex = index" class="wa-posts-grid-tile">
                    <ufm-wa-post-card [loading]="loading" [post]="filteredBlogPosts[postIndex]" [showDescription]="false" (postCardClicked)="navigateToPost($event)"></ufm-wa-post-card>
                </div>
            </div>
        </div>
    </div>
</div>