@import 'variables.scss';

.wa-posts-grid-container {
    .wa-posts-grid-wrapper {
        .wa-posts-grid-content {
            padding: 5rem 0;
            
            .wa-posts-grid-title {
                font-size: 2.8rem;
                font-weight: $font-weight-medium;
                margin-bottom: 2rem;
            }

            .wa-posts-grid-tiles {
                display: flex;
                justify-content: space-between;

                .wa-posts-grid-tile {
                    width: calc(33.33333% - 1rem);
                }
            }
        }
    }
}