<div class="standard-site-section-container">
    <div class="standard-site-section">
        <div class="home-page-posts-container">
            <div class="home-page-section-header">
                <div class="home-page-section-title" [innerHTML]="sectionTitle"></div>
                <div class="home-page-section-description" [innerHTML]="sectionDescription"></div>
            </div>
            <div *ngIf="isDesktopViewPort || isMobileViewPort" class="home-page-section-posts-container">
                <div class="blog-posts-section-container">
                    <div class="post-section-container-row">
                        <div *ngFor="let post of (postsData | slice : 0 : 4); let postIndex = index" class="post-container-cell cell-{{postIndex + 1}}">
                            <post-card [post]="post"></post-card>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isTabViewPort" class="home-page-section-posts-container">
                <div class="blog-posts-section-container">
                    <div class="post-section-container-row">
                        <div *ngFor="let post of (postsData | slice : 0 : 2); let postIndex = index" class="post-container-cell cell-{{postIndex + 1}}">
                            <post-card [post]="post"></post-card>
                        </div>
                    </div>
                    <div class="post-section-container-row">
                        <div *ngFor="let post of (postsData | slice : 2 : 4); let postIndex = index" class="post-container-cell cell-{{postIndex + 1}}">
                            <post-card [post]="post"></post-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-page-section-footer">
                <a class="button-link secondary-button-link" href="javascript: void(0)" routerLink="/blog">
                    View more posts like this
                </a>
            </div>
        </div>
    </div>
</div>