@import "../../../variables.scss";

.home-page-posts-container {
    padding: 20px 0;
    
    .home-page-section-header {
        vertical-align: top;
        margin: 20px;
        padding: 0 20px;

        .home-page-section-title {
            font-weight: 900;
            font-size: 32px;
            color: $site-colour-primary;
            display: inline-block;
        }

        .button-link {
            float: right;
        }

        .home-page-section-description {
            position: relative;
        }

        sup {
            font-size: 50%;
            top: -0.75em;
        }
    }

    .home-page-section-posts-container {
        .blog-posts-section-container {
            display: table;
            width: calc(100% - 40px);
            border-spacing: 20px;
            padding: 0 20px;

            @media only screen and (max-width: 1024px) {
                width: 100%;
                padding: 0;
            }

            .post-section-container-row {
                display: table-row;
                width: 100%;

                .post-container-cell {
                    display: table-cell;
                    vertical-align: top;
                    width: 25%;

                    .post-image {
                        height: 250px;
                    }
                }
            }
        }
    }

    .home-page-section-footer {
        text-align: center;
        padding: 20px;
    }
}

@media only screen and (max-width: 900px) and (max-height: 900px) {
    .home-page-posts-container {
        .home-page-section-header {
            .home-page-section-title {
                font-size: 24px;
                padding-top: 20px;
                border-top: 5px solid rgba(0, 0, 0, 0.05);
                max-width: 80%;
                margin: auto;
            }
        }
    
        .home-page-section-posts-container {
            .blog-posts-section-container {
                display: block;
                width: calc(100% - 20px);
                padding: 0 10px;
    
                .post-section-container-row {
                    display: block;
                    width: 100%;
    
                    .post-container-cell {
                        display: block;
                        width: 100%;

                        ~.post-container-cell {
                            margin-top: 10px;
                        }
    
                        .post-image {
                            height: 250px;
                        }
                    }
                }
            }
        }
    
        .home-page-section-footer {
            text-align: center;
            padding: 40px 20px;
        }
    }
}