@import "../../../variables.scss";

@media only screen and (min-width: 800px) {
    .home-page-posts-container {
        margin: 20px;
        display: table;
        width: calc(100% - 40px);

        .home-page-section-row {
            display: table-row;
            width: 100%;

            .home-page-section-header {
                display: table-cell;
                width: 20%;
                vertical-align: top;

                .home-page-section-title {
                    font-weight: bold;
                    font-size: 32px;
                    color: $site-colour-blue;
                }

                .home-page-section-description {
                    width: 70%;
                    padding-bottom: 40px;
                    position: relative;

                    &:after {
                        content: '';
                        width: 50%;
                        height: 5px;
                        background: $site-colour-blue;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
    
                sup {
                    font-size: 50%;
                    top: -0.75em;
                }
            }
    
            .home-page-section-posts-container {
                display: table-cell;
                width: 80%;
                vertical-align: top;

                .blog-posts-section-container {
                    display: table;
                    width: 100%;

                    .post-section-container-row {
                        display: table-row;
                        width: 100%;

                        .post-container-cell {
                            display: table-cell;

                            .post-image {
                                height: 250px;
                                background-position: center;
                                background-size: cover;
                            }

                            .post-text-content {
                                padding: 20px;

                                mat-card-header {
                                    margin: 0;

                                    ::ng-deep .mat-card-header-text {
                                        margin: 0;
                                    }

                                    mat-card-title {
                                        font-weight: bold;
                                        font-size: 24px;
                                        color: #2c3038;
                                        margin-bottom: 10px;
                                        line-height: 28px;

                                        .post-category {
                                            color: $site-colour-blue;
                                        }

                                        .title-category-separator {
                                            color: lightgray;
                                            font-family: $site-font-premierleague-light;
                                        }
                                    }

                                    mat-card-subtitle {
                                        margin: 0;
                                    }
                                }

                                mat-card-content {
                                    margin-top: 30px;
                                }
                            }

                            &.post-container-cell-1 {
                                width: 37.5%;
                                padding-right: 20px;
                            }

                            &.post-container-cell-2 {
                                width: 30%;
                                padding-right: 20px;
                            }

                            &.post-container-cell-3 {
                                width: 32.5%;
                            }

                            &.post-container-cell-4 {
                                padding-right: 20px;
                                padding-top: 20px;

                                .post-text-content {
                                    mat-card-header {
                                        mat-card-title {
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }

                            &.post-container-cell-5 {
                                padding-right: 20px;
                                padding-top: 20px;

                                .post-text-content {
                                    mat-card-header {
                                        mat-card-title {
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }

                            &.post-container-cell-6 {
                                padding-top: 20px;

                                .post-text-content {
                                    mat-card-header {
                                        mat-card-title {
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}