@import '../../../variables.scss';

div.adclerks_728 {
    width: 100%; /* Make sure we're at 100% of available size (based on parent) */ 
    margin: 0; /* Keep the advert spaced away from any content below it. */
}

div.adclerks_300 {
    overflow: hidden;
}

/* Target the contents of the wrapper element */
div.adclerks_728 img, div.pc_block_active, div.adclerks_728 div { 
    width: 100% !important; /* Force width */ 
    max-width: 100% !important; /* Force max-width of elements and image */
    height: auto !important; /* Force aspect ratio of images correct */

    ::ng-deep img {
        width: 100%;
        max-width: 728px;

        @media only screen and (max-width: 900px) and (max-width: 500px) {
            height: auto !important;
            width: 100% !important;
        }
    }
}

.site-ad-container {
    text-align: center;
    padding: 20px;
    padding-top: 10px;
    margin: 20px 0;
    background-color: $site-colour-primary;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

    @media only screen and (max-width: 900px) and (max-width: 500px) {
        padding: 10px;
    }

    .ad-text {
        font-size: 12px;
        margin-bottom: 10px;
        color: $site-colour-disabled-dark;
    }
}

.ad-blocker-used-text {
    text-align: center;
    padding: 20px 30px;
    margin: 20px 0;
    background-color: $site-colour-primary;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    color: $site-colour-white;
    font-size: 16px;
    font-weight: 400;

    .ad-blocker-container {
        display: inline-table;
        width: 100%;
        max-width: 728px;
        height: 50px;

        .exclamation-icon-container, .ad-blocker-content {
            display: table-cell;
            vertical-align: middle;
        }

        .exclamation-icon-container {
            font-size: 21px;
            color: $site-colour-pink;
            border-right: 1px solid $site-colour-blue;
            padding-right: 30px;
        }

        .ad-blocker-content {
            padding-left: 30px;
        }
    }
}