<div class="standard-site-section-container">
    <div class="standard-site-section">
        <div class="official-soundtracks-header">
            Official FIFA Soundtracks
        </div>
    </div>
</div>
<div class="standard-site-section-container">
    <div class="standard-site-section">
        <div class="video-player-section">
            <div class="video-player-container" [class.idle]="!autoPlay">
                <video-player [hideTitle]="true" [videoProvider]="'youtube'" [videoURL]="selectedTrackURL" [autoPlay]="autoPlay"></video-player>
            </div>
            <div class="soundtrack-playlist-container">
                <div class="soundtrack-header">
                    <div class="soundtrack-image" [style.background-image]="'url(' + soundTracks[selectedFIFAVersion]['thumbURL'] + ')'"></div>
                    <div class="soundtrack-info">
                        <div class="soundtrack-title" [innerHTML]="soundTracks[selectedFIFAVersion]['title']"></div>
                        <div class="soundtrack-length">
                            {{soundTracks[selectedFIFAVersion]['tracks'].length}} songs
                        </div>
                        <div class="spotify-link" *ngIf="soundTracks[selectedFIFAVersion]['spotifyLink']">
                            <a class="unstyled-link" [href]="soundTracks[selectedFIFAVersion]['spotifyLink']" target="_blank">Listen on Spotify <i class="fab fa-spotify"></i></a>
                        </div>
                    </div>
                </div>
                <div class="soundtrack-playlist">
                    <ng-container *ngFor="let soundTrack of soundTracks[selectedFIFAVersion]['tracks']; let trackIndex = index">
                        <div class="single-track" [ngClass]="{'selected-track': (selectedTrackIndex == trackIndex)}" (click)="playTrack(trackIndex, soundTrack['videoID'])">
                            <i *ngIf="selectedTrackIndex != trackIndex" class="fas fa-music"></i>
                            <i *ngIf="selectedTrackIndex == trackIndex" class="fas fa-play"></i>
                            <div class="track-image" [style.background-image]="'url(' + soundTrack['thumbURL'] + ')'"></div>
                            <div class="track-info">
                                <div class="track-title" [innerHTML]="soundTrack['title']"></div>
                                <div class="track-artist">
                                    <span class="main-artist" [innerHTML]="soundTrack['artist']"></span>
                                    <span *ngIf="soundTrack['featured']" class="featured-artists" [innerHTML]="' ft. ' + soundTrack['featured']"></span>
                                </div>
                            </div>
                            <div class="track-length" [innerHTML]="soundTrack['trackLength']"></div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="soundtrack-list">
                <div class="soundtrack-list-header">
                    Other FIFA Soundtracks
                </div>
                <div class="soundtrack-list-items">
                    <ng-container *ngFor="let soundTrack of (soundTracks | objectKeys)">
                        <div class="soundtrack-list-item" [ngClass]="{'selected-soundtrack': (selectedFIFAVersion == soundTrack)}" (click)="selectSoundtrack(soundTrack)">
                            <div class="soundtrack-image" [style.background-image]="'url(' + soundTracks[soundTrack]['thumbURL'] + ')'"></div>
                            <div class="soundtrack-info">
                                <div class="soundtrack-title">
                                    {{soundTracks[soundTrack]['title']}}
                                </div>
                                <div class="soundtrack-length">
                                    <span *ngIf="(soundTracks[soundTrack]['tracks'] || []).length > 1">
                                        {{(soundTracks[soundTrack]['tracks'] || []).length}} songs
                                    </span>
                                    <span *ngIf="(soundTracks[soundTrack]['tracks'] || []).length == 1">
                                        {{(soundTracks[soundTrack]['tracks'] || []).length}} song
                                    </span>
                                    <span *ngIf="(soundTracks[soundTrack]['tracks'] || []).length == 0">
                                        Currently unavailable
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>