<div class="footer-container">
    <div class="footer-row">
        <site-ad-placeholder class="ad-placeholder-with-margin footer-ad-placeholder" [adZone]="2"></site-ad-placeholder>
    </div>
    <div class="standard-site-section-container">
        <div class="standard-site-section">
            <div class="footer-row">
    <div class="site-map">
        <ul class="site-map-list">
            <li class="site-map-list-header">
                Site Links
            </li>
            <div class="site-map-list-item-group">
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" routerLink="/">
                        Home
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" routerLink="/blog">
                        Blog
                    </a>
                </li>
                <!-- <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light">
                        Downloads
                    </a>
                </li> -->
                <!-- <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light">
                        About Us
                    </a>
                </li> -->
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog()">
                        Search
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="http://www.soccergaming.com/" target="_blank" class="link-light">
                        Forum
                    </a>
                </li>
            </div>
        </ul>
        <ul class="site-map-list">
            <li class="site-map-list-header">
                FIFA 19
            </li>
            <div class="site-map-list-item-group">
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('fifa 19')">
                        News
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('the journey')">
                        The Journey
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('icons')">
                        FUT Icons
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('totw')">
                        Team of the Week TOTW
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('tots')">
                        Team of the Season TOTS
                    </a>
                </li>
                <!-- <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light">
                        FUT Card Creator
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light">
                        Online Tournaments
                    </a>
                </li> -->
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('player reviews')">
                        FUT Player Reviews
                    </a>
                </li>
            </div>
        </ul>
        <ul class="site-map-list">
            <li class="site-map-list-header">
                FIFA Mods
            </li>
            <li class="site-map-list-group-header">
                FIFA 19
            </li>
            <div class="site-map-list-item-group">
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('fifa 19 faces')">
                        Custom Star-heads
                    </a>
                </li>
            </div>
            <!-- <li class="site-map-list-group-header">
                FIFA 17
            </li>
            <div class="site-map-list-item-group">
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light">
                        Launcher Themes
                    </a>
                </li>
            </div> -->
            <li class="site-map-list-group-header">
                FIFA 16
            </li>
            <div class="site-map-list-item-group">
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('fifa 16 faces')">
                        Player Star-heads
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('fifa 16 kits')">
                        Team Kits
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('editing tools')">
                        Editing Tools
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('fifa 16 mini-faces')">
                        Player Mini-photos
                    </a>
                </li>
                <!-- <li class="site-map-list-item">
                    <a href="javascript: void(0)" class="link-light" (click)="toggleSearchDialog('editing tools')">
                        Manager Star-heads
                    </a>
                </li> -->
            </div>
        </ul>
        <ul class="site-map-list">
            <li class="site-map-list-header">
                Our Besties
            </li>
            <li class="site-map-list-group-header">
                FIFA Fam
            </li>
            <div class="site-map-list-item-group">
                <li class="site-map-list-item">
                    <a href="https://www.fifa-infinity.com/" target="_blank" class="link-light">
                        FIFA Infinity
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="https://www.fifarosters.com/" target="_blank" class="link-light">
                        FifaRosters
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="https://twitter.com/FIFAMasterWeb" target="_blank" class="link-light">
                        FIFA Master
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="http://www.soccergaming.com/" target="_blank" class="link-light">
                        SoccerGaming
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="http://3dgamedevblog.com/" target="_blank" class="link-light">
                        3DGameDevBlog
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="http://iard68.altervista.org/" target="_blank" class="link-light">
                        iARD68
                    </a>
                </li>
            </div>
            <li class="site-map-list-group-header">
                Social Media BFFs
            </li>
            <div class="site-map-list-item-group">
                <li class="site-map-list-item">
                    <a href="https://twitter.com/ASRomaEN" target="_blank" class="link-light">
                        AS Roma EN Twitter Admin
                        <i class="fa fa-asterisk" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="https://www.youtube.com/channel/UCOTmwgwDIGiDHEWqHaAmXNg" target="_blank"
                        class="link-light">
                        Kieron SFF
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="https://www.youtube.com/channel/UCXAcZP7G9t8rCNh7uR71T7Q" target="_blank"
                        class="link-light">
                        FNG
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="https://www.youtube.com/channel/UCIciwR-CmXsaunrGw2DBjhA" target="_blank"
                        class="link-light">
                        Zynxize
                    </a>
                </li>
                <li class="site-map-list-item">
                    <a href="https://www.youtube.com/user/VapexKarma" target="_blank" class="link-light">
                        Vapex Karma
                    </a>
                </li>
            </div>
        </ul>
    </div>
            </div>
        </div>
    </div>
    <div class="footer-row bottom-section">
        <div class="main-section">
            <div class="contact-us-button">
                <a class="button-link secondary-button-link link-icon-left" href="mailto:theworldwideteam@gmail.com"
                    target="_blank">
                    <i class="fas fa-envelope-open"></i> Contact Us
                </a>
            </div>
            <div class="bug-report-button">
                <a class="button-link ghost-button-link-light link-icon-left" href="mailto:theworldwideteam@gmail.com"
                    target="_blank">
                    <i class="fas fa-bug"></i> Report a Bug
                </a>
            </div>
            <div class="social-media-icons">
                <a class="button-link simple-button simple-button-light" matTooltip="Subscribe to our YouTube channel" matTooltipPosition="above" href="https://www.youtube.com/ufifamods" target="_blank">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                </a>
                <a class="button-link simple-button simple-button-light" matTooltip="Follow us on Twitter" matTooltipPosition="above" href="https://twitter.com/ufifamods/" target="_blank">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
                <a class="button-link simple-button simple-button-light" matTooltip="Check out our Instagram" matTooltipPosition="above" href="https://www.instagram.com/ufifamods" target="_blank">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="copyright-section">
            <div class="as-roma-disclaimer">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
                Ok so we don't actually know them, but we really wish we did :(
            </div>
            <img class="cc-copyright-logo"
                src="https://static.wixstatic.com/media/727d0c_a4c507f448a74fbe8c8957d688e26aeb.png">
            <span class="copyright-text">
                Copyright <i class="far fa-copyright"></i> 2019. All Rights Reserved.
            </span>
        </div>
    </div>
</div>