@import "../variables.scss";

.footer-container {
    background-color: $site-colour-second-primary;
    color: $site-colour-white;
    display: table;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;

    .footer-row {
        display: table-row;
        width: 100%;

        .site-map {
            width: 100%;
    
            .uk-list {
                .list-header {
                    color: $site-colour-blue;
                    font-weight: 600;
                }
            }
        }
    }
}