<div class="footer-container">
    <div class = "footer-row">
        <site-ad-placeholder class="footer-ad-placeholder" [adZone]="2" [theme]="'dark'"></site-ad-placeholder>
    </div>
    <div class="footer-row">
        <div class="uk-section site-map">
            <div class="uk-container">
                <div class="uk-child-width-1-3@m" uk-grid>
                    <ul class="uk-list">
                        <li class="list-header">FIFA 19</li>
                        <li>News</li>
                        <li>The Journey</li>
                        <li>FUT Icons</li>
                        <li>TOTW</li>
                        <li>TOTY</li>
                        <li>FUT Card Creator</li>
                        <li>Online Tournaments</li>
                        <li>FUT Player Reviews</li>
                    </ul>
                    <ul class="uk-list">
                        <li class="list-header">FIFA 16 Mods</li>
                        <li>Faces</li>
                        <li>Kits</li>
                        <li>Editing Tools</li>
                        <li>Mini-faces</li>
                        <li>Manager Faces</li>
                        <li></li>
                        <li class="list-header">FIFA 17 Mods</li>
                        <li>Launcher Themes</li>
                    </ul>
                    <ul class="uk-list">
                        <li class="list-header">Our Friends</li>
                        <li>FIFA Infinity</li>
                        <li>Kieron SFF</li>
                        <li>FNG</li>
                        <li>Fifa-Rosters</li>
                        <li>FIFA Master</li>
                        <li>SoccerGaming</li>
                        <li>3DGameDevBlog</li>
                        <li>iARD68</li>
                        <li>Zynxize</li>
                        <li>GamerSaloon</li>
                        <li>Vapex Karma</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-row uk-text-center copyright-section">
        <img src="https://static.wixstatic.com/media/727d0c_a4c507f448a74fbe8c8957d688e26aeb.png">
        <span class="copyright-text">
            © 2018. All Rights Reserved.
        </span>
    </div>
</div>