// Site Fonts
$site-font-logo:                    "Duepuntozero ExtraBold";
$site-font-premierleague:           "PremierLeague";
$site-font-premierleague-bold:      "PremierLeague Bold";
$site-font-premierleague-light:     "PremierLeague Light";

// Site Colour Palette
$site-colour-primary:             #1F2C45;
$site-colour-second-primary:      #161F30;
$site-colour-secondary:           #FFC145;
$site-colour-yellow:              #FFC145;
$site-colour-blue:                #3D9BE9;
$site-colour-pink:                #FF4A77;
$site-colour-purple:              #8E5EE0;
$site-colour-white:               #F5F5F5;
$site-colour-black:               #2F2E2E;
$site-colour-disabled-light:      #666666;
$site-colour-disabled-dark:       #D0D0D0;

// Screen Resolutions
$site-resolution-desktop-regular:   1024px;
$site-resolution-mobile-max:        767px;
$site-resolution-tab-min:           768px;
$site-resolution-desktop-medium:    1280px;
$site-resolution-desktop-large:     1440px;