// Site Fonts
$site-font-logo:                    "Duepuntozero ExtraBold";
$site-font-premierleague:           "PremierLeague";
$site-font-premierleague-bold:      "PremierLeague Bold";
$site-font-premierleague-light:     "PremierLeague Light";

// Site Colour Palette
$site-colour-primary:             #2C3038;
$site-colour-second-primary:      #15171B;
$site-colour-secondary:           #FFC145;
$site-colour-yellow:              #FFC145;
$site-colour-blue:                #3D9BE9;
$site-colour-pink:                #FF4A77;
$site-colour-purple:              #8E5EE0;
$site-colour-white:               #F5F5F5;
$site-colour-black:               #2F2E2E;
$site-colour-disabled-light:      #666666;
$site-colour-disabled-dark:       #D0D0D0;

// Screen Resolutions
$site-resolution-desktop-regular:   1024px;
$site-resolution-mobile-max:        767px;
$site-resolution-tab-min:           768px;
$site-resolution-desktop-medium:    1280px;
$site-resolution-desktop-large:     1440px;

.site-colour-blue {
    color: $site-colour-blue;
}

.site-colour-yellow {
    color: $site-colour-yellow;
}

.site-colour-pink {
    color: $site-colour-pink;
}

.site-colour-purple {
    color: $site-colour-purple;
}

.post-title-container {
    line-height: 1.2em;
    font-family: $site-font-premierleague-bold;
    color: $site-colour-black;
}

.post-main {
    font-size: 14px;

    .post-date {
        font-size: 12px;
    }
}

.post-category {
    padding-left: 10px;
    text-transform: uppercase;
    border-left: 10px solid $site-colour-blue;
    font-weight: bold;

    &.mods {
        border-left: 10px solid $site-colour-yellow;
    }

    &.fut {
        border-left: 10px solid $site-colour-blue;
    }

    &.fifa {
        border-left: 10px solid $site-colour-pink;
    }

    &.totw {
        border-left: 10px solid #aaaaaa;
    }
}

.post-container {
    border-bottom: 4px solid #E8E8E8;
}

.post-container-cell {
    background-color: $site-colour-white;
    transition: all 200ms;

    &.post-dark-theme {
        background-color: $site-colour-primary !important;

        .post-description-container {
            color: $site-colour-white;
        }
    }

    &:hover {
        background-color: #EEEEEE !important;
        cursor: pointer;

        &.post-dark-theme {
            background-color: $site-colour-second-primary !important;
        }

        .post-title-container {
            text-decoration: underline;
        }
    }
}

.post-dark-theme {
    color: $site-colour-white;
    background-color: $site-colour-primary;

    .post-main {
        color: #E0E0E0;
    }

    .post-title-container {
        color: $site-colour-white;
    }
}

.post-title-size-42 {
    font-size: 42px;
}

.post-title-size-34 {
    font-size: 34px;
}

.post-title-size-28 {
    font-size: 28px;
}

.post-title-size-20 {
    font-size: 20px;
}

.post-title-size-18 {
    font-size: 18px;
}

.post-title-size-16 {
    font-size: 16px;
}

.post-image-container {
    cursor: pointer;
}