<div [id]="id" class="wa-theme-dialog" tabindex="0" role="dialog" [attr.aria-labelledby]="id + 'Header'" [attr.aria-describedby]="id + 'Body'" aria-modal="true" (keydown.escape)="!loader.showLoader && close()" modalTrapFocus>
	<div class="wa-dialog-overlay" [class.wa-dialog-closing]="closing" (click)="onOverlayClick($event)">
		<div class="wa-dialog-wrapper wa-dialog-size-{{size}} wa-typography wa-{{typography}}-typography">
			<div class="wa-kilo-elevated-container closed wa-dialog wa-dialog-theme-{{theme}}
				wa-dialog-full-screen-xs-{{(fullScreenOnMobile ? 'enabled' : 'disabled')}}
				wa-dialog-content-scrollbar-{{(contentScrollEnabled ? 'enabled' : 'disabled')}}"
				[class.show-dialog-overlay]="loader.type == 'button' && loader.showLoader"
				(click)="onDialogClick($event)">
				<!-- <wa-loader *ngIf="loader.type == 'overlay' && loader.showLoader" class="wa-dialog-overlay-loader" [class.animate-loader]="animateLoader" [headerText]="loader.header" [footerText]="loader.footer" modalTrapFocus></wa-loader> -->
				<div class="wa-dialog-header" *ngIf="heading">
					<h3 [id]="id + 'Header'" class="wa-dialog-heading" [innerHTML]="heading" tabindex="0"></h3>
				</div>
				<div [id]="id + 'Body'" class="wa-dialog-body {{bodyPanelClass}}">
					<div *ngIf="bodyText" [innerHTML]="bodyText"></div>
					<ng-template acDialogContentInsertion [ngTemplateOutlet]="templateRef"></ng-template>
				</div>
				<div class="wa-dialog-footer {{footerPanelClass}}" *ngIf="CTAs.length > 0 || footerTemplate">
					<ng-container *ngIf="footerTemplate" [ngTemplateOutlet]="footerTemplate"></ng-container>
					<div *ngFor="let CTA of CTAs; let index = index" class="wa-dialog-footer-cta">
						<button
							[id]="CTA.id || (id + 'Button' + index)"
							class="wa-button wa-button-type-{{CTA.type || (index == 0 ? 'primary' : (index == 1 ? 'secondary' : 'tertiary'))}} wa-button-theme-{{CTA.theme || 'red'}} wa-button-fullWidthXS"
							[class.has-inset-loader]="index == 0"
							[class.show-inset-loader]="loader.type == 'button' && loader.showLoader"
							(click)="dialogCTWAlick(CTA)"
							[attr.data-analytics-track]="CTA.DTM ? CTA.DTM.track : null"
							[attr.data-analytics-val]="CTA.DTM ? CTA.DTM.val : null">
							<span [innerHTML]="CTA.label"></span>
						</button>
					</div>
				</div>
				<button *ngIf="dialogCloseEnabled" class="wa-dialog-close-button" (click)="close()" [id]="id + 'CloseButton'" data-se-id="closeLightBox" [attr.data-analytics-track]="closeButtonDTM.track" [attr.data-analytics-val]="closeButtonDTM.val">
					<span class="wa-icon wa-icon-close"></span>
				</button>
			</div>
		</div>
	</div>
</div>