<div class="wa-post-card-container">
    <div *ngIf="loading" class="wa-post-card-loading-view">
        <div class="wa-post-card-image"></div>
        <div class="wa-post-card-text-content">
            <div class="wa-post-card-text">
                <div class="wa-post-card-title"></div>
                <div class="wa-post-card-description"></div>
            </div>
            <div class="wa-post-card-footer">
                <div class="wa-post-credit">
                    <div class="wa-profile-dp-loading"></div>
                    <div class="wa-post-author"></div>
                </div>
                <div class="wa-post-date"></div>
            </div>
        </div>
    </div>
    <a *ngIf="!loading" class="wa-post-card-loaded-view" [routerLink]="post.url" (click)="navigateToPost(post.url)">
        <div class="wa-post-card-content">
            <div *ngIf="post.thumbnail" class="wa-post-card-image-container">
                <div imageLoader class="wa-post-card-image wa-lazy-loaded-img" [attr.image-src]="post.thumbnail"></div>
            </div>
            <div class="wa-post-card-text-content">
                <div class="wa-post-card-text">
                    <div *ngIf="post.tags" class="wa-post-card-tags">
                        <div *ngFor="let tag of post.tags" class="wa-post-card-tag">
                            {{tag}}
                        </div>
                    </div>
                    <div class="wa-post-card-title" [innerHTML]="post.title"></div>
                    <div *ngIf="post.description" class="wa-post-card-description" [innerHTML]="(post.description | slice : 0 : 100)"></div>
                </div>
                <div *ngIf="post.author || post.date" class="wa-post-card-footer">
                    <div *ngIf="post.author" class="wa-post-credit">
                        <div class="wa-profile-dp rounded {{post.author}}"></div>
                        <div class="wa-post-author">{{post.author}}</div>
                    </div>
                    <div *ngIf="post.date" class="wa-post-date">{{post.date | date : 'dd MMM'}}</div>
                </div>
            </div>
        </div>
    </a>
</div>