@import 'variables.scss';

.wa-post-card-container {
    height: 100%;
    position: relative;
    transition: transform ease 250ms;

    &:hover, &:focus {
        transform: translateY(-0.5rem);
    }

    .wa-post-card-loaded-view {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        text-decoration: none;

        @media only screen and (max-width: 920px) {
            flex-direction: row;
        }

        .wa-post-card-image-container {
            position: relative;
            background-color: $color-code-darkblue;
            height: 22.5rem;

            @media only screen and (max-width: 920px) {
                width: 12.5rem;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
            }

            .wa-post-card-image {
                position: absolute;
                background-color: $color-code-darkblue;
                background-size: cover;
                background-position: center center;
                height: 22.5rem;
                width: 100%;

                @media only screen and (max-width: 920px) {
                    height: 100%;
                }
    
                &:after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    opacity: 0;
                    background-color: $color-code-gray;
                    transition: all ease 250ms;
                }
            }
        }

        .wa-post-card-text-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            background-color: $color-code-primary;
            color: $color-code-white;

            @media only screen and (max-width: 920px) {
                min-height: 10rem;
            }
            
            .wa-post-card-text {
                flex: 1;
                padding: 3rem;
                padding-bottom: 3rem;

                @media only screen and (max-width: 920px) {
                    padding: 1.5rem;
                    padding-bottom: 1.5rem;
                    padding-left: 14rem;
                }
    
                .wa-post-card-category {
                    display: inline-flex;
                    color: $color-code-pink;
                    font-family: $headings-font-family;
                    font-size: 1.6rem;
                    margin-bottom: 1.5rem;
                    font-weight: $font-weight-medium;
                    text-transform: uppercase;

                    @media only screen and (max-width: 920px) {
                        font-size: 1.2rem;
                        margin-bottom: 0.5rem;
                    }
                }
    
                .wa-post-card-title {
                    font-size: 2.1rem;
                    font-weight: $font-weight-normal;
                    text-transform: none;
                    transition: color ease 300ms;
                    margin: 0;

                    @media only screen and (max-width: 920px) {
                        font-size: 1.6rem;
                    }
                }
    
                .wa-post-card-description {
                    font-size: 1.6rem;
                    font-weight: $font-weight-light;
                    line-height: 2.4rem;
                    margin-top: 2rem;

                    @media only screen and (max-width: 920px) {
                        display: none;
                    }
                }
            }
    
            .wa-post-card-footer {
                font-size: 1.4rem;
                font-weight: $font-weight-normal;
                padding: 2rem 3rem;
                border-top: 1px solid $border-color;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 2.5rem;

                @media only screen and (max-width: 920px) {
                    display: none;
                }
    
                .wa-post-credit {
                    display: flex;
                    align-items: center;
    
                    .wa-profile-dp {
                        height: 2.5rem;
                        width: 2.5rem;
                    }
    
                    .wa-post-author {
                        padding-left: 1rem;
                    }
                }

                .wa-post-date {
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: $font-weight-light;
                    opacity: 0.75;
                }
            }
        }
    }
}