<div class="standard-site-section-container">
    <div class="standard-site-section">
        <div class="main-post-container" [style.background-image]="'url(' + postsData[0]['feature-image'] + ')'" [routerLink]="postsData[0]['post-link']">
            <div class="main-post-text-content">
                <span class="post-category {{postsData[0]['post-category']}}" [innerHTML]="postsData[0]['post-category']"></span>
                <div class="post-title" [innerHTML]="postsData[0]['post-title'] | multistring : 5"></div>
                <div class="post-description" [innerHTML]="(postsData[0]['post-text-content'] | slice : 0 : 240).trim() + '...'"></div>
                <div class="post-footer-text">
                    <span class="post-contributor">
                        <span class="contributor-image team-member-dp {{postsData[0]['post-author'] || 'krisaju95'}}"></span>
                        <span class="contributor-name" [innerHTML]="(postsData[0]['post-author'] || 'krisaju95') | teamInfo : 'handle'"></span>
                    </span>
                    <span class="footer-content-separator">&bull;</span>
                    <span class="post-date" [innerHTML]="postsData[0]['post-date'] | timeSince"></span>
                </div>
            </div>
        </div>
    </div>
</div>