@import "../../../variables.scss";

.standard-site-section-container {
    background-color: $site-colour-second-primary;
    background-size: cover;
    background-position: center;
    position: relative;

    .main-post-container {
        height: 500px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        position: relative;
        padding: 0 5%;
        width: 100%;
        margin-left: -5%;
    
        &:before {
            content: '';
            width: 40%;
            height: 100%;
            position: absolute;
            left: -1px;
            top: 0;
            background: linear-gradient(to right, $site-colour-second-primary, rgba(7, 15, 32, 0.7), transparent);
        }
    
        &:after {
            content: '';
            width: 15%;
            height: 100%;
            position: absolute;
            right: -1px;
            top: 0;
            background: linear-gradient(to left, $site-colour-second-primary, transparent);
        }

        .main-post-text-content {
            position: absolute;
            z-index: 1;
            color: #F5F5F5;
            width: 35%;
            height: calc(100% - 150px);
            padding: 75px 50px;

            .post-category {
                display: inline-block;
                text-transform: uppercase;
                padding: 5px 15px;
                background: $site-colour-yellow;
                color: $site-colour-black;
                border-radius: 50px;
                letter-spacing: 1px;
                font-weight: 600;
            }

            .post-title {
                margin: 25px 0;
                font-weight: 800;
                font-size: 28px;
            }

            .post-description {
                font-weight: 300;
                line-height: 1.6em;
                letter-spacing: 1px;
            }

            .post-footer-text {
                position: absolute;
                bottom: 50px;
                left: 50px;
                font-size: 14px;

                .post-contributor {
                    display: inline-table;
                    vertical-align: top;
                    font-weight: 600;
                    
                    .contributor-image {
                        display: table-cell;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        vertical-align: middle;
                    }

                    .contributor-name {
                        display: table-cell;
                        vertical-align: middle;
                        padding-left: 10px;
                    }
                }

                .post-date {
                    display: inline-block;
                    line-height: 30px;
                    vertical-align: top;
                    padding-left: 20px;
                    margin-left: 20px;
                    border-left: 1px solid $site-colour-light-blue;
                    font-weight: 300;
                }
            }
        }
    }
}