$checkbox-constants: (
    "kilo": (
        "height": 18px,
        "width": 18px,
        "border-width": 2.5px,
        "border-radius": 2.5px,
        "unchecked": (
            "border-color": #C8C8C8,
            "background-color": #FFFFFF
        ),
        "checked": (
            "border-color": #005078,
            "background-color": #005078
        ),
        "checkmark": (
            "thickness": normal,
            "color": #FFFFFF
        ),
        "label": (
            "font-size": 14px,
            "color": #000000,
            "font-weight": normal
        )
    ),
    "material": (
        "height": 18px,
        "width": 18px,
        "border-width": 2.5px,
        "border-radius": 2.5px,
        "unchecked": (
            "border-color": #C8C8C8,
            "background-color": #FFFFFF
        ),
        "checked": (
            "border-color": #00778F,
            "background-color": #00778F
        ),
        "checkmark": (
            "thickness": normal,
            "color": #FFFFFF
        ),
        "label": (
            "font-size": 14px,
            "color": #2A2A2A,
            "font-weight": normal
        )
    ),
    "legacy": (
        "height": 20px,
        "width": 20px,
        "border-width": 2.5px,
        "border-radius": 0,
        "unchecked": (
            "border-color": #C8C8C8,
            "background-color": transparent
        ),
        "checked": (
            "border-color": #C8C8C8,
            "background-color": transparent
        ),
        "checkmark": (
            "thickness": 600,
            "color": #00778F
        ),
        "label": (
            "font-size": 14px,
            "color": #2A2A2A,
            "font-weight": 300
        )
    )
);

.wa-form-element-container {
    .wa-form-element-checkbox-wrapper {
        height: auto;
        background-color: transparent;
        border-color: transparent;
        display: inline-flex;
        align-items: flex-start;
        position: relative;

        .wa-form-element-checkbox {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: absolute;
        }

        .wa-form-element-checkbox-container {
            height: getConstant($checkbox-constants, "material", "height");
            width: getConstant($checkbox-constants, "material", "width");
            border: getConstant($checkbox-constants, "material", "border-width") solid getConstant($checkbox-constants, "material", "unchecked", "border-color");
            background-color: getConstant($checkbox-constants, "material", "unchecked", "background-color");
            border-radius: getConstant($checkbox-constants, "material", "border-radius");
            margin-right: 10px;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            transition: background-color ease 150ms;

            .wa-form-element-checkbox-icon {
                font-size: 14px;
                font-weight: getConstant($checkbox-constants, "material", "checkmark", "thickness");
                color: getConstant($checkbox-constants, "material", "checkmark", "color");
                line-height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                text-align: center;
                overflow: hidden;
                transition: width ease 300ms;

                &::before {
                    content: "\e606";
                }
            }
        }

        .wa-form-element-label {
            margin: 0;
            position: relative;
            cursor: pointer;
            width: 100%;
            padding-left: 30px;
            font-size: getConstant($checkbox-constants, "material", "label", "font-size");
            font-weight: getConstant($checkbox-constants, "material", "label", "font-weight");
            color: getConstant($checkbox-constants, "material", "label", "color");
            line-height: getConstant($checkbox-constants, "material", "height");
        }

        &.wa-form-element-checked {
            .wa-form-element-checkbox-container {
                border-color: getConstant($checkbox-constants, "material", "checked", "border-color");
                background-color: getConstant($checkbox-constants, "material", "checked", "background-color");

                .wa-form-element-checkbox-icon {
                    width: 100%;
                }
            }
        }

        &.wa-form-element-legacy-wrapper {
            .wa-form-element-checkbox-container {
                height: getConstant($checkbox-constants, "legacy", "height");
                width: getConstant($checkbox-constants, "legacy", "width");
                border: getConstant($checkbox-constants, "legacy", "border-width") solid getConstant($checkbox-constants, "legacy", "unchecked", "border-color");
                background-color: getConstant($checkbox-constants, "legacy", "unchecked", "background-color");
                border-radius: getConstant($checkbox-constants, "legacy", "border-radius");

                .wa-form-element-checkbox-icon {
                    font-weight: getConstant($checkbox-constants, "legacy", "checkmark", "thickness");
                    color: getConstant($checkbox-constants, "legacy", "checkmark", "color")
                }
            }

            .wa-form-element-label {
                font-size: getConstant($checkbox-constants, "legacy", "label", "font-size");
                font-weight: getConstant($checkbox-constants, "legacy", "label", "font-weight");
                color: getConstant($checkbox-constants, "legacy", "label", "color");
                line-height: getConstant($checkbox-constants, "legacy", "height");
            }

            &.wa-form-element-checked {
                .wa-form-element-checkbox-container {
                    background-color: getConstant($checkbox-constants, "legacy", "checked", "background-color");
                }
            }
        }

        &.wa-form-element-kilo-wrapper {
            .wa-form-element-checkbox-container {
                height: getConstant($checkbox-constants, "kilo", "height");
                width: getConstant($checkbox-constants, "kilo", "width");
                border: getConstant($checkbox-constants, "kilo", "border-width") solid getConstant($checkbox-constants, "kilo", "unchecked", "border-color");
                background-color: getConstant($checkbox-constants, "kilo", "unchecked", "background-color");
                border-radius: getConstant($checkbox-constants, "kilo", "border-radius");

                .wa-form-element-checkbox-icon {
                    font-size: 12px;
                    font-weight: getConstant($checkbox-constants, "kilo", "checkmark", "thickness");
                    color: getConstant($checkbox-constants, "kilo", "checkmark", "color")
                }
            }

            .wa-form-element-label {
                font-size: getConstant($checkbox-constants, "kilo", "label", "font-size");
                font-weight: getConstant($checkbox-constants, "kilo", "label", "font-weight");
                color: getConstant($checkbox-constants, "kilo", "label", "color");
                line-height: getConstant($checkbox-constants, "kilo", "height");
            }

            &.wa-form-element-checked {
                .wa-form-element-checkbox-container {
                    border-color: getConstant($checkbox-constants, "kilo", "checked", "border-color");
                    background-color: getConstant($checkbox-constants, "kilo", "checked", "background-color");
                }
            }
        }

        &.wa-form-element-disabled {
            .wa-form-element-checkbox, .wa-form-element-label {
                cursor: not-allowed;
            }
        }
    }

    .wa-form-element-checkbox-error-text .wa-form-element-material-error-text {
        padding-left: 30px;
    }
}