<ufm-wa-page-header header="Blog"></ufm-wa-page-header>
<div class="wa-container wa-blog-page-container">
    <div class="wa-wrapper wa-blog-page-wrapper">
        <div class="wa-blog-page-tiles" *ngFor="let page of pages; let pageIndex = index">
            <ng-container *ngIf="(pageIndex == activePageIndex)">
                <div *ngFor="let post of [].constructor(numberOfPosts); let postIndex = index" class="wa-blog-page-tile">
                    <ufm-wa-post-card *ngIf="loading || (page[postOffset + postIndex])" [loading]="loading" [post]="page[postOffset + postIndex]"></ufm-wa-post-card>
                </div>
            </ng-container>
        </div>
        <div class="wa-blog-page-footer" [class.data-loading]="!showPagination">
            <button class="wa-button" [class.wa-ghost-button]="pageIndex != activePageIndex" [class.wa-secondary-button]="pageIndex == activePageIndex" *ngFor="let page of pages; let pageIndex = index" (click)="loadPage(pageIndex)">
                {{pageIndex + 1}}
            </button>
        </div>
    </div>
</div>