@import 'variables.scss';

.wa-blog-page-hero-container {
    background-color: #0B1218;
    background-image: url('/assets/images/hero-banner/hero-banner-min.jpg');
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20rem;
    margin-bottom: 5rem;
    color: $color-code-white;

    .wa-blog-page-hero-wrapper {
        position: relative;
        min-height: 10rem;
    }
}

.wa-blog-page-container {
    .wa-blog-page-wrapper {
        .wa-blog-page-tiles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .wa-blog-page-tile {
                width: calc(33.33333% - 1rem);
                padding-bottom: 2rem;
            }
        }

        .wa-blog-page-footer {
            text-align: center;
            padding: 5rem 0;

            .wa-button {
                padding: 1rem;

                ~.wa-button {
                    margin-left: 1rem;
                }
            }
        }
    }

    @media only screen and (max-width: 1023px) {
        .wa-blog-page-wrapper {
            .wa-blog-page-tiles {
                display: block;
                flex-wrap: nowrap;
                justify-content: unset;
    
                .wa-blog-page-tile {
                    width: 100%;
                    padding-bottom: 0;
                }
            }
        }
    }
}