@import 'variables.scss';

.wa-blog-page-hero-container {
    background-blend-mode: luminosity;
    padding-top: 10rem;
    padding-bottom: 10rem;

    @media only screen and (max-width: 920px) {
        padding: 3rem 0;
    }

    .wa-blog-page-hero-wrapper {
        position: relative;
        min-height: 10rem;

        @media only screen and (max-width: 920px) {
            min-height: auto;
        }

        .wa-page-title {
            color: $color-code-white;
        }
    }
}

.wa-blog-page-container {
    .wa-blog-page-wrapper {
        .wa-blog-page-tiles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .wa-blog-page-tile {
                width: calc(25% - 1rem);
                padding-bottom: 2rem;
            }
        }

        .wa-blog-page-footer {
            text-align: center;
            padding: 5rem 0;

            .wa-button {
                padding: 1rem;

                ~.wa-button {
                    margin-left: 1rem;
                }
            }
        }
    }

    @media only screen and (max-width: 920px) {
        .wa-blog-page-wrapper {
            .wa-blog-page-tiles {
                display: block;
                flex-wrap: nowrap;
                justify-content: unset;
    
                .wa-blog-page-tile {
                    width: 100%;
                    padding-bottom: 1.5rem;
                }
            }
        }
    }
}