.tnc-checkbox {
    margin: 20px 0;
    display: block;
}

.thank-you-message {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.download-error-message {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}