@import "../../../variables.scss";

@media only screen and (min-width: 900px) {
    .blog-post-wrapper {
        min-height: 500px;
        background: #FFFFFF;

        .blog-post-width {
            max-width: 750px;
        }

        .blog-post-header-section {
            // background: $site-colour-second-primary url($site-cloud-storage-images + "blog/post-header.jpg") center left no-repeat;
            background: #161F30;
            background-size: cover;

            .blog-post-section {
                .blog-post-header {
                    padding-left: 40px;
                    padding-top: 40px;
                    padding-bottom: 180px;
                    position: relative;
                
                    .blog-post-category {
                        color: $site-colour-yellow;
                        margin-bottom: 5px;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                
                    .blog-post-date {
                        margin-top: 10px;
                        color: $site-colour-white;
                        font-size: 14px;
                        font-weight: 300;
                    }
                
                    .post-title-container {
                        color: $site-colour-white;
                        font-size: 44px;
                        font-weight: bold;
                        line-height: 54px;
                    }
                }
            }
        }

        .blog-post-container {
            display: inline-table;
            width: calc(100% - 80px);
            margin: 30px 40px;
            margin-top: -150px;
            transform: translateZ(1px);
        
            .blog-post-content, .blog-post-sidebar, .blog-post-right-spacer {
                display: table-cell;
            }
        
            .blog-post-content {
                width: 830px;
                color: $site-colour-black;
                font-weight: 300;
        
                .blog-post-main-content {
                    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
                    // border-radius: 5px;
                    overflow: hidden;

                    .blog-post-badges {
                        padding: 20px 0;
                        margin-top: 20px;
                        border-top: 1px solid rgba(48, 91, 165, 0.4);

                        .tags-header {
                            font-weight: bold;
                            font-size: 16px;
                            margin-bottom: 10px;
                        }
                    }
                }
        
                .blog-post-text-content {
                    padding: 30px 20px;

                    .blog-post-header-text {
                        display: none;
                    }
                }
        
                .blog-post-header-image {
                    height: 420px;
                    width: 100%;
                    background-position: center top;
                    background-size: cover;
                }
            
                .blog-post-intro-text {
                    font-size: 18px;
                    font-weight: bold;
                    color: $site-colour-primary;
                    margin-bottom: 20px;
                    position: relative;
                }
        
                .blog-post-ad-placeholder {
                    display: block;
                    margin-bottom: 20px;
                }
            
                .blog-post-main-text {
                    .blog-post-para {
                        margin-bottom: 20px;
                        font-size: 18px;
                        line-height: 1.5;

                        ::ng-deep a {
                            font-size: 18px;
                            font-weight: normal;
                        }
                    }
                }
        
                .mod-download-link-container {
                    text-align: center;
                    margin: 40px 0;
        
                    button {
                        width: 40%;
                    }
                }
        
                .blog-post-outro-text {
                    font-size: 18px;
                    font-weight: bold;
                    margin: 10px 0;
                }
        
                .disqus-thread-container {
                    display: block;
                    padding: 20px;
                    background-color: $site-colour-white;
                    border-radius: 2.5px;
                }
            }
        
            .blog-post-sidebar {
                padding-left: 30px;
                width: 340px;
                vertical-align: top;
                padding-top: 150px;
        
                @media only screen and (max-width: 1280px) {
                    padding-left: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .blog-post-wrapper {
        min-height: 500px;
    }

    .blog-post-header {
        display: none;
    }
    

    .blog-post-container {
        width: 100%;
        margin-bottom: 15px;
        transform: translateZ(1px);

        .blog-post-content {
            .blog-post-text-content {
                background: #FFFFFF;
                padding: 30px 0;
            }

            .blog-post-header-text {
                margin: 0 15px;
                margin-bottom: 40px;
                position: relative;

                .blog-post-category {
                    color: $site-colour-blue;
                    font-weight: 600;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }
            
                .blog-post-date {
                    margin-top: 10px;
                    font-size: 14px;
                    font-weight: 300;
                }

                .post-title-container {
                    color: $site-colour-primary;
                    font-size: 24px;
                    font-weight: bold;
                }
            }

            .blog-post-header-image {
                height: 250px;
                width: 100%;
                margin-bottom: 0px;
                background-position: center top;
                background-size: cover;

                @media only screen and (min-height: 900px) {
                    height: 350px;
                }
            }
        
            .blog-post-intro-text {
                font-size: 18px;
                font-weight: 600;
                color: $site-colour-primary;
                padding: 0 15px;
                margin-bottom: 20px;
                position: relative;
            }

            .blog-post-ad-placeholder {
                display: block;
                margin: 15px;
            }
        
            .blog-post-main-text {
                padding: 0 15px;

                .blog-post-para {
                    margin-bottom: 20px;
                    font-size: 18px;
                    line-height: 1.5;
                }
        
                .blog-post-last-para {
                    font-weight: 600;
                }
            }

            .mod-disclaimer-container {
                margin: 30px 0;
                clear: both;

                .mod-disclaimer-header {
                    font-weight: bold;
                    font-size: 18px;
                }
            }

            .mod-download-link-container {
                text-align: center;
                margin: 40px 0;

                button {
                    width: 40%;
                    padding: 10px;
                }
            }

            .blog-post-outro-text {
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                padding: 20px 15px;
            }

            ::ng-deep .sb-group {
                display: inline-table;
                width: calc(100% - 10px);
                margin-left: 5px;

                .sb-button {
                    margin: 0;
                    display: table-cell;
                    width: 20%;
                    text-align: center;
                }
            }

            .disqus-thread-container {
                display: block;
                margin: 40px 15px;
                -webkit-overflow-scrolling: touch;
            }

            .blog-post-badges {
                margin: 0 15px;
                padding: 20px 0;
                margin-top: 20px;
                border-top: 1px solid rgba(48, 91, 165, 0.4);

                .tags-header {
                    font-weight: bold;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
        }

        .blog-post-sidebar {
            padding: 15px;
        }
    }
}