<site-loader *ngIf="responseLoading || !postData"></site-loader>
<div class="blog-post-wrapper" *ngIf="!responseLoading && postData">
    <div class="blog-post-header targetted-header-{{targettedPostHeader}}" *ngIf="isDesktopViewPort" uk-parallax="bgy: -200">
        <div class="blog-post-category blog-post-width" [innerHTML]="postData['post-category']"></div>
        <div class="post-title-container post-title-size-42 blog-post-width" [innerHTML]="postData['post-title']"></div>
        <div class="blog-post-date blog-post-width" [innerHTML]="postData['post-date']  | date: 'd MMM yyyy'"></div>
        <div class="blog-post-badges blog-post-width">
            <ng-container *ngFor="let category of categoryList">
                <span class="uk-badge" [innerHTML]="category"></span>
            </ng-container>
        </div>
    </div>
    <div class="blog-post-container">
        <div class="blog-post-container-row">
            <div class="blog-post-content">
                <div class="blog-post-header-image uk-cover-container">
                    <img [src]="postData['post-media']" alt="" uk-cover>
                </div>
                <div class="blog-post-header-text" *ngIf="isMobileViewport">
                    <div class="blog-post-category blog-post-width" [innerHTML]="postData['post-category']"></div>
                    <div class="post-title-container post-title-size-42 blog-post-width" [innerHTML]="postData['post-title']"></div>
                    <div class="blog-post-date blog-post-width" [innerHTML]="postData['post-date']  | date: 'd MMM yyyy'"></div>
                </div>
                <div class="blog-post-intro-text">
                    <div [innerHTML]="postData['post-intro-text']"></div>
                </div>
                <div class="blog-post-main-text">
                    <ng-container *ngFor="let para of postMainText">
                        <div class="blog-post-para" [innerHTML]="para"></div>
                    </ng-container>
                </div>
                <site-ad-placeholder class="blog-post-ad-placeholder" [adZone]="1"></site-ad-placeholder>
                <div class="blog-post-main-text">
                    <ng-container *ngFor="let para of postMainText2">
                        <div class="blog-post-para" [innerHTML]="para"></div>
                    </ng-container>
                </div>
                <disqus-thread class="disqus-thread-container" [page-identifier]="fileURL" [page-url]="siteURL + postURL"></disqus-thread>
            </div>
            <div class="blog-post-sidebar">
                <site-ad-placeholder [adZone]="3" [removeMargins]="true"></site-ad-placeholder>
                <featured-posts-sidebar (selectPostEvent)="initialiseData($event)"></featured-posts-sidebar>
            </div>
        </div>
    </div>
</div>