@import 'variables';

.wa-discord-container {
    color: $color-code-white;
    background-color: $color-code-primary;
    background-image: url("/assets/images/home/discordbg.png");
    background-blend-mode: luminosity;

    .wa-discord-wrapper {
        padding-top: 15rem;
        padding-bottom: 15rem;

        .wa-discord-content {
            display: flex;
            align-items: center;
            margin-bottom: 5rem;

            .wa-discord-text-content {
                .wa-discord-text-description {
                    max-width: 60rem;
                }
            }

            .wa-discord-logo-container {
                text-align: right;
                flex: 1;

                img {
                    width: 45rem;
                }
            }
        }
    }
}