@import 'variables';

.wa-discord-container {
    background-color: #26262B;

    .wa-discord-wrapper {
        color: $color-code-white;
        background-image: url("/assets/images/home/discordbg.png");
        background-repeat: no-repeat;
        background-position: center right;
        background-size: contain;
        padding-top: 15rem;
        padding-bottom: 15rem;

        @media only screen and (max-width: 920px) {
            background: none;
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        .wa-discord-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (max-width: 920px) {
                align-items: flex-start;
            }

            .wa-discord-text-content {
                max-width: 50rem;

                @media only screen and (max-width: 920px) {
                    max-width: calc(100vw -5rem);

                    .wa-discord-text-description {
                        width: calc(100% + 8rem);
                    }
                }

                h2 {
                    color: $color-code-white;
                }
            }

            .wa-discord-logo-container {
                padding: 0 20rem;

                @media only screen and (max-width: 920px) {
                    padding: 1rem 2rem;
                }

                img {
                    height: 20rem;

                    @media only screen and (max-width: 920px) {
                        height: 5rem;
                    }
                }
            }
        }
    }
}