<ufm-wa-hero-banner></ufm-wa-hero-banner>
<ufm-posts-grid category="all" [numberOfPosts]="4" [showMainPost]="true"></ufm-posts-grid>
<div class="wa-container wa-discord-container">
    <div class="wa-wrapper wa-discord-wrapper">
        <div class="wa-discord-content">
            <div class="wa-discord-text-content">
                <h2>Check us out on Discord</h2>
                <p class="wa-discord-text-description">Get sneak peeks of our latest work before we release them. Talk to the <strong>FIFA Modding World</strong> community, get support from the helpful chaps on there and follow the works of some of the most talented modders out there, including people outside of the UFM team</p>
            </div>
            <div class="wa-discord-logo-container">
                <img src="/assets/images/home/discord-logo.png">
            </div>
        </div>
        <a href="https://discordapp.com/invite/pqCEFVf" target="_blank" class="wa-button wa-primary-button dark-background wa-single-cta">Join now</a>
    </div>
</div>