.fut-squad-container {
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
    background: url(https://i.imgur.com/z4YWhrs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

    .fut-squad-row {
        display: inline-table;

        &.substitutes {
            width: fit-content;
            margin: auto;
        }

        .fut-squad-player-card {
            display: table-cell;
        }
    }
}

.fut-squad-row {
    &.substitutes {
        width: fit-content;
        margin: auto;
    }
}

.squad-section-header {
    font-weight: 800;
    font-size: 21px;
    color: #305BA5;
    text-align: center;
}

.fut-squad-player-card {
    display: table-cell;
    height: 180px;
    width: 140px;
    background-image: url('https://www.fifarosters.com/assets/cards/fifa19/mini/hd-totw_gold.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Dosis', sans-serif;

    .fut-squad-player-image {
        position: absolute;
        bottom: 50px;
        right: 8px;
        width: 90px;
        height: 90px;
        text-align: center;
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .fut-squad-player-name {
        position: absolute;
        bottom: 30px;
        left: 0;
        text-align: center;
        width: 100%;
        color: #E9CC74;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
    }

    .player-side-info {
        display: inline-block;
        width: 35px;
        position: absolute;
        top: 25px;
        left: 15px;
        height: 90px;
        padding: 10px 0;
        color: #E9CC74;
        text-align: center;
        background: linear-gradient(to bottom, rgba(15, 13, 8, 0) 0, rgba(15, 13, 8, 0) 8%, rgba(15, 13, 8, 0.6) 43%, rgba(15, 13, 8, 0.6) 56%, rgba(15, 13, 8, 0.6) 76%, rgba(15, 13, 8, 0) 100%);

        .fut-squad-player-rating, .fut-squad-player-position {
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
        }

        .fut-squad-player-nationality {
            margin-top: 5px;
        }

        .fut-squad-player-club {
            width: 100%;
            background-size: contain;
        }
    }
}