<div class="fut-squad-container">
    <div class="fut-squad-row attackers">
        <div class="fut-squad-player-card totw gold">
            <div class="fut-squad-player-image"></div>
            <div class="fut-squad-player-name">Williams</div>
            <div class="player-side-info">
                <div class="fut-squad-player-rating">86</div>
                <div class="fut-squad-player-position">ST</div>
                <div class="fut-squad-player-nationality nation-flag ESP"></div>
                <div class="fut-squad-player-club club-crest arsenal"></div>
            </div>
        </div>
        <div class="fut-squad-player-card totw gold">
            <div class="fut-squad-player-image"></div>
            <div class="fut-squad-player-name">Williams</div>
            <div class="player-side-info">
                <div class="fut-squad-player-rating">86</div>
                <div class="fut-squad-player-position">ST</div>
                <div class="fut-squad-player-nationality nation-flag ESP"></div>
                <div class="fut-squad-player-club club-crest arsenal"></div>
            </div>
        </div>
        <div class="fut-squad-player-card totw gold">
            <div class="fut-squad-player-image"></div>
            <div class="fut-squad-player-name">Williams</div>
            <div class="player-side-info">
                <div class="fut-squad-player-rating">86</div>
                <div class="fut-squad-player-position">ST</div>
                <div class="fut-squad-player-nationality nation-flag ESP"></div>
                <div class="fut-squad-player-club club-crest arsenal"></div>
            </div>
        </div>
        <div class="fut-squad-player-card totw gold">
            <div class="fut-squad-player-image"></div>
            <div class="fut-squad-player-name">Williams</div>
            <div class="player-side-info">
                <div class="fut-squad-player-rating">86</div>
                <div class="fut-squad-player-position">ST</div>
                <div class="fut-squad-player-nationality nation-flag ESP"></div>
                <div class="fut-squad-player-club club-crest arsenal"></div>
            </div>
        </div>
        <div class="fut-squad-player-card totw gold">
            <div class="fut-squad-player-image"></div>
            <div class="fut-squad-player-name">Williams</div>
            <div class="player-side-info">
                <div class="fut-squad-player-rating">86</div>
                <div class="fut-squad-player-position">ST</div>
                <div class="fut-squad-player-nationality nation-flag ESP"></div>
                <div class="fut-squad-player-club club-crest arsenal"></div>
            </div>
        </div>
    </div>
</div>