<div class="fut-pitch" *ngIf="futSquadInfo">
    <div class="squad-section-header">
        First XI
    </div>
    <div class="squad-first-xi-wrapper">
        <div class="fut-squad-container">
            <div class="fut-squad-row-container">
                <div class="fut-squad-row attackers">
                    <fut-card *ngFor="let player of futSquadInfo.players.attackers; let playerIndex = index" [squadType]="futSquadInfo.squadType" [player]="player" [fifaVersion]="futSquadInfo.fifaVersion" [useUFMCloudImages]="futSquadInfo.useUFMCloudImages"></fut-card>
                </div>
            </div>
            <div class="fut-squad-row-container">
                <div class="fut-squad-row midfielders">
                    <fut-card *ngFor="let player of futSquadInfo.players.midfielders; let playerIndex = index" [squadType]="futSquadInfo.squadType" [player]="player" [fifaVersion]="futSquadInfo.fifaVersion" [useUFMCloudImages]="futSquadInfo.useUFMCloudImages"></fut-card>
                </div>
            </div>
            <div class="fut-squad-row-container">
                <div class="fut-squad-row defenders">
                    <fut-card *ngFor="let player of futSquadInfo.players.defenders; let playerIndex = index" [squadType]="futSquadInfo.squadType" [player]="player" [fifaVersion]="futSquadInfo.fifaVersion" [useUFMCloudImages]="futSquadInfo.useUFMCloudImages"></fut-card>
                </div>
            </div>
            <div class="fut-squad-row-container">
                <div class="fut-squad-row goalkeeper">
                    <fut-card [squadType]="futSquadInfo.squadType" [player]="futSquadInfo.players.goalkeeper" [fifaVersion]="futSquadInfo.fifaVersion" [useUFMCloudImages]="futSquadInfo.useUFMCloudImages"></fut-card>
                </div>
            </div>
            <div class="futsquad-credit">
                <span class="powered-by-text">
                    powered by
                </span>
                <a class="unstyled-link fifarosters-logo" href="https://fifarosters.com" target="_blank">
                    <img alt="FifaRosters" src="https://raw.githubusercontent.com/krisaju95/ufifamods/master/media/images/fut/fifarosters-logo.png" height="20px">
                </a>
            </div>
        </div>
    </div>
    <div class="squad-section-header">
        Substitutes & Reserves
    </div>
    <div class="squad-substitutes-wrapper">
        <fut-card *ngFor="let player of futSquadInfo.players.substitutes; let playerIndex = index" [squadType]="futSquadInfo.squadType" [player]="player" [fifaVersion]="futSquadInfo.fifaVersion" [useUFMCloudImages]="futSquadInfo.useUFMCloudImages"></fut-card>
    </div>
</div>