@import '../../../variables.scss';

.fut-squad-container {
    position: relative;
    display: none;
    height: 750px;
    width: 750px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    background: url($site-cloud-storage-images + 'fut/football-pitch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    transform-origin: top left;

    @media only screen and (min-width: 900px) {
        border-radius: 5px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }

    .fut-squad-row {
        display: inline-table;

        &.substitutes {
            width: fit-content;
            margin: auto;
        }

        fut-card {
            display: table-cell;
        }
    }

    .futsquad-credit {
        display: inline-table;
        font-size: 14px;
        font-weight: 600;
        color: $site-colour-black;
        padding: 10px 20px;
        background: $site-colour-white;
        position: absolute;
        right: 20px;
        bottom: 25px;
        border-radius: 50px;

        .powered-by-text, .fifarosters-logo {
            display: table-cell;
            vertical-align: middle;
            height: 20px;
        }

        .powered-by-text {
            padding-right: 5px;
        }
    }
}

.fut-squad-row {
    &.substitutes {
        width: fit-content;
        margin: auto;
    }
}

.squad-section-header {
    font-weight: 800;
    font-size: 21px;
    color: $site-colour-blue;
    margin-top: 30px;
    text-align: center;
}

.squad-substitutes-wrapper {
    text-align: center;
}