<div class="wa-container">
    <div class="wa-wrapper">
        <!-- <iframe class="create-fut-card-iframe" src="https://www.fifarosters.com/create-card?embedded=1&hideweakfoot=1&hideworkrates=1&hideskillmoves=1&hidecalcattr=1&showchemistry=0" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe> -->
        <div style="margin-bottom: 20px">
            <input (focus)="onFocus($event)" placeholder="event preventdefault">
        </div>
        <div style="margin-bottom: 20px">
            <input (focus)="onFocus2($event)" placeholder="event stop propagation">
        </div>
        <div style="margin-bottom: 20px">
            <input (focus)="onFocus3($event)" placeholder="event stop immediate propagation">
        </div>
        <div style="margin-bottom: 20px">
            <input (focus)="onFocus4($event)" placeholder="window blur">
        </div>
        <div style="margin-bottom: 20px">
            <input (focus)="onFocus5($event)" placeholder="window blur timeout">
        </div>
    </div>
</div>