<div class="wa-container create-fut-card-container">
    <div class="wa-wrapper create-fut-card-wrapper" style="height: 1000px">
        <!-- <iframe class="create-fut-card-iframe" src="https://www.fifarosters.com/create-card?embedded=1&hideweakfoot=1&hideworkrates=1&hideskillmoves=1&hidecalcattr=1&showchemistry=0" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe> -->
        <abc-phone-number [(ngModel)]="phoneNumber" name="phoneNumber" label="Phone Number"></abc-phone-number>
    </div>
</div>