@import 'variables.scss';

.wa-hero-banner-container {
    background-color: $color-code-primary;
    background-image: url('/assets/images/hero-banner/hero-banner-min.jpg');
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: luminosity;
    margin-bottom: 5rem;

    .wa-hero-banner-wrapper {
        height: calc(100vh - 5rem);
        max-height: 65rem;
        position: relative;

        .wa-hero-banner-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;

            .wa-hero-banner-text-content {
                width: 40%;
            }
    
            .wa-hero-banner-text-content {
                color: $color-code-white;
    
                .wa-hero-banner-text-heading {
                    color: $color-code-white;
                    text-transform: none;
                    font-size: 5rem;
                }
    
                .wa-hero-banner-text-description {
                    max-width: 45rem;
                    letter-spacing: 1px;
                    line-height: 1.5;
                }
            }
    
            .wa-hero-banner-player-image {
                width: 60%;
                height: 100%;
                padding: 0 2rem;
                pointer-events: none;
    
                img {
                    height: calc(100% + 4rem);
                }
            }
        }

        .wa-scroll-cta-container {
            position: absolute;
            bottom: 0;
            left: 3rem;
            padding: 2rem 10rem 2rem 4rem;
            background: $color-code-white;
            border-radius: 4rem 4rem 0 0;
            cursor: pointer;

            .wa-scroll-cta {
                font-size: 1.6rem;
                display: flex;
                align-items: center;

                .wa-scroll-cta-icon {
                    margin-right: 1rem;
                }
            }
        }
    }
}