<div class="wa-container">
    <div class="wa-wrapper">
        <div class="wa-hero-player">
            <img src="https://i.imgur.com/LaI4a7l.png">
        </div>
        <div class="wa-hero-cutout">
            <img src="https://i.imgur.com/8hTuv3F.png">
        </div>
        <div class="wa-hero-banner-content">
            <div class="wa-hero-banner-text-1">We're the <span class="wa-text-lightblue wa-text-normal">Ultimate FIFA Mods</span> team</div>
            <div class="wa-hero-banner-text-2">And we create free custom graphic mods for FIFA</div>
            <div class="wa-hero-banner-cta-container">
                <button class="wa-button wa-primary-button dark-background">Download Center</button>
                <button class="wa-button wa-secondary-button dark-background">About Us</button>
            </div>
        </div>
    </div>
</div>