<div class="wa-container wa-hero-banner-container">
    <div class="wa-wrapper wa-hero-banner-wrapper">
        <div class="wa-hero-banner-content">
            <div class="wa-hero-banner-post-info">
                <span class="wa-profile-dp krisaju95"></span>
                <span class="wa-profile-name">krisaju95</span>
                <span class="wa-post-date">23 Jan</span>
            </div>
            <div class="wa-hero-banner-text">
                <div class="wa-hero-banner-title">
                    <span class="wa-title-highlight">FIFA 20</span> Team of the Week 17 Predictions
                </div>
                <div class="wa-hero-banner-description">
                   SIF Varane, IF Sokratis or OTW Pepe? Kieron digs deep to give us his opinion on who makes he cut this week
                </div>
            </div>
            <div class="wa-hero-banner-cta">
                <button class="wa-button wa-ghost-button">Read More</button>
            </div>
        </div>
        <div class="wa-hero-banner-image-container">
            <div class="wa-hero-banner-image-wrapper">
                <div imageLoader class="wa-hero-banner-image wa-lazy-loaded-img" [attr.image-src]="'/assets/images/temp/jesus.jpg'" [attr.image-load-delay]="1500"></div>
            </div>
        </div>
    </div>
</div>