/* You can add global styles to this file, and also import other style files */
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";
@import "../node_modules/custom-fonts/Duepuntozero/stylesheet.css";
@import './wwt-mat-theme.css';

body {
    font-family: Raleway,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.mat-card {
    font-family: Raleway,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    padding: 0 !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.05), 0 1px 5px 0 rgba(0,0,0,.05)!important;
    border-bottom: 2px solid #3D9BE9;

    &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        margin-left: 50%;
        transition: all 200ms;
    }

    @media only screen and (max-width: 800px) {
        &::after {
            display: none;
        }
    }

    &:hover {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            margin-left: 0;
            background: rgba(0, 0, 0, 0.05);
        }
    }
}

.wwt-mat-dialog {
    .mat-dialog-actions {
        padding: 24px 0;
    }
}