@import "../node_modules/custom-fonts/Duepuntozero/stylesheet.css";
@import './wwt-mat-theme.css';
@import '../node_modules/ngx-sharebuttons/styles/share-buttons.scss';
@import '../node_modules/ngx-sharebuttons/styles/themes/modern/modern-dark-theme.scss';
@import './styles/typography/typography.scss';

body {
    font-family: Raleway,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin: 0;
    background: #F1F3F4;

    a, input, .post-card {
        outline: 0;
    }

    .mat-checkbox-label {
        white-space: normal;
    }
}

.no-highlight {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}