@media only screen and (min-width: 800px) {
    .page-not-found {
        padding: 150px 200px;
        padding-top: 100px;
    
        .error-400-text {
            font-size: 60px;
            color: #305BA5;
            font-weight: bolder;
        }
    
        .oops-text {
            font-size: 100px;
            font-weight: 600;
        }
    
        .error-description-text {
            font-size: 30px;
            font-weight: 300;
            width: 50%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .page-not-found {
        padding: 100px 30px;
    
        .error-400-text {
            font-size: 30px;
            color: #305BA5;
            font-weight: bolder;
        }
    
        .oops-text {
            font-size: 50px;
            font-weight: 600;
        }
    
        .error-description-text {
            font-size: 15px;
            font-weight: 300;
        }
    }
}